.footer
  margin-top: -1px
  border: 0
  background: #d5e9ea

footer.foot
  margin-top: 60px
  padding: 0
  background: none
  padding: 30px 0
  padding-bottom: 0px  
  position: relative
  +max-width
  @media #{$mobile}
    padding-top: 30px
    margin-top: 30px
    padding-left: 0
    padding-right: 0
  .gotop
    position: absolute
    left: calc((100% - 50px) / 2)
    top: -25px
    z-index: 1
    cursor: pointer
    +trans
    &:hover
      opacity: 0.7
  
  .row
    @media screen and (min-width: 768px)
      display: flex
      flex-wrap: nowrap
      align-items: center
      padding: 0
    @media #{$mobile}
      padding: 0px
  .module-title
    white-space: nowrap
    text-align: center
    @media screen and (min-width: 768px)
      text-align: left
      padding-right: 25%
      margin-top: 30px
    @media #{$mobile}
      margin-bottom: 30px
  .info
    p
      font-size: 15px
      color: #404041
      font-weight: 500
      .svg
        margin-right: 15px
        position: relative
        top: 5px
      a
        font-size: 15px
        color: #404041
        font-weight: 500
      b
        display: block
        font-weight: 500
        font-size: 20px
        color: #404041
        margin-bottom: 20px
  .map
    iframe
      max-width: 100%

div.design
  padding: 0 30px
  background: none
  background: #01787e
  // background: url(#{$url}foot-bg.svg) center center no-repeat
  // background-size: cover
  // padding-top: 51px
  // padding-bottom: 22px
  // position: relative
  @media #{$mobile}
    padding-bottom: 0
    padding: 0 15px
    background-position: center
  .gotop-content
    position: absolute
    top: -19px
    left: 0
    width: 100%
    text-align: center
  .row
    // border-top: 1px solid rgba(white, .37)
    padding: 0
  p
    margin: 0
    padding: 7.5px 0
    text-align: center
    font-size: 14px
    color: white
    @media #{$mobile}
      padding-bottom: 10px
    span
      @media #{$mobile}
        float: left!important
        display: block
        width: 100%
        text-align: center
    span, a
      font-size: 12px
      color: white
      letter-spacing: 0
      font-weight: normal
      line-height: 20px
    a
      position: absolute
      right: 30px
      font-weight: normal
      @media #{$mobile}
        position: static
        display: block
        width: 100%
        // margin-top: 5px
        float: left
        margin-bottom: 0px

.right
  position: fixed
  bottom: 15%
  width: 40px
  right: 5px
  z-index: 9999
  a
    +trans
    &:hover
      opacity: 0.7
    // &:nth-of-type(1)
    //   background-color: #e9a24f!important
    // &:nth-of-type(2)
    //   background-color: #dd5f92!important
    // &:nth-of-type(3)
    //   background-color: #00a542!important
    // &:nth-of-type(4)
    //   background-color: #4c6bc1!important

.fb_customer_chat_icon
  bottom: 50px!important
