footer.foot
  margin-top: 40px
  padding: 0
  background: none
  .row
    &:nth-child(2)
      background-size: cover!important
      background-position: center left!important
      background-repeat: no-repeat!important
      padding: 30px 0
      @media screen and (min-width: 768px)
        display: flex
        align-items: flex-end
      @media #{$mobile}
        padding-top: 30px
  .info
    .col-sm-6:not(.social)
      position: relative
      &:nth-child(2)
        @media screen and (min-width: 768px)
          padding-left: 30px
        &::before
          @media screen and (min-width: 768px)
            content: ''
            border-left: 1px solid #c7c9ca
            height: 55px
            width: 1px
            position: absolute
            left: 12.5px
            top: 12.5px
      ul
        padding: 7.5px 0
        list-style: none
        @media #{$mobile}
          margin-bottom: 0
          padding-bottom: 0
        li
          white-space: nowrap
          margin-bottom: 15px
          color: #231f20
          display: flex
          align-items: center
          font-size: 16px
          @media #{$mobile}
            font-size: 16px
          &:last-child
            @media screen and (min-width: 768px)
              margin-bottom: 0
          *
            color: #231f20
            font-size: 16px
            @media #{$mobile}
              font-size: 16px
          .svg
            margin-right: 7.5px
            min-width: 16px!important
            height: 16px!important
    .social
      text-align: right
      width: 100%
      padding-right: 7.5px
      @media #{$mobile}
        padding-right: 0
        text-align: center
      .list-inline
        margin-bottom: 0
        margin: 0
        margin-bottom: 7.5px        
        a
          +trans
          &:hover
            opacity: 0.3
  iframe
    max-height: 194px
    @media #{$mobile}
      width: 100%
  //   display: flex
  //   align-items: center
  //   flex-wrap: nowrap
  //   @media #{$mobile}
  //     padding: 0 15px
  //     flex-wrap: wrap
  // .line
  //   margin-left: 5px
  //   margin-bottom: 14px
  // .title-1
  //   margin-left: 5px
  // .title-2
  //   margin-top: 30px
  //   @media #{$mobile}
  //     max-width: 100%
  // .text-content
  //   @media screen and (min-width: 768px)
  //     margin-right: 56px
  //   @media #{$mobile}
  //     width: 100%
  //     margin-bottom: 30px
  

div.design
  padding-top: 7.5px
  padding-bottom: 7.5px
  background: white
  // background: url(#{$url}foot-bg.svg) center center no-repeat
  // background-size: cover
  // padding-top: 51px
  // padding-bottom: 22px
  // position: relative
  @media #{$mobile}
    background-size: 1560px cover
    padding-bottom: 0
    background-position: center
  .gotop-content
    position: absolute
    top: -19px
    left: 0
    width: 100%
    text-align: center
  p
    margin: 0
    padding: 0px 0
    text-align: center
    font-size: 14px
    color: white
    @media #{$mobile}
      padding-bottom: 10px
    span
      @media #{$mobile}
        float: left!important
        display: block
        width: 100%
        text-align: center
    span, a
      font-size: 12px
      color: $color-b
      letter-spacing: 0
      font-weight: normal
    a
      position: absolute
      right: 30px
      font-weight: normal
      @media #{$mobile}
        position: static
        display: block
        width: 100%
        margin-top: 5px
        float: left
        margin-bottom: 15px

.right
  position: fixed
  bottom: 15%
  width: 38px
  right: 0px
  z-index: 9999
  a
    +trans
    &:hover
      opacity: 0.7
  .svg
    margin-bottom: 15px
    @media #{$mobile}
      $w: 38px
      width: $w!important
      height: $w!important