.footer
  margin-top: -1px
  border: 0
  background: url(#{$url}foot-bg.png) center center no-repeat
  background-size: cover
  background-repeat: no-repeat
  background-position: center

footer.foot
  margin-top: 15px
  padding: 0
  background: none
  padding: 50px 0 30px
  position: relative
  +max-width
  @media #{$mobile}
    padding-top: 15px
    margin-top: 0px
    padding-left: 15px
    padding-right: 15px
  .row
    @media screen and (min-width: 768px)
      display: flex
      flex-wrap: nowrap
      padding: 0 5%
    @media #{$mobile}
      padding: 0px
  .module-title
    white-space: nowrap
    text-align: center
    @media screen and (min-width: 768px)
      text-align: center
    @media #{$mobile}
      margin-bottom: 30px
  .info
    border: 1px solid white
    padding: 15px
    @media #{$mobile}
      margin-bottom: 15px
    p
      font-size: 16px
      color: white
      font-weight: 400
      text-align: center
      line-height: 26px
      @media screen and (min-width: 768px)
        white-space: nowrap
        margin-bottom: 7.5px
      .svg
        margin-right: 15px
        position: relative
        top: 5px
      a
        font-size: 16px
        color: white
        font-weight: 400
  .map
    height: 100%
    @media screen and (min-width: 768px)
      position: relative
      right: -60px
    @media #{$mobile}
      padding: 0
    iframe
      max-width: 100%
      @media screen and (min-width: 768px)
        height: 295px

div.design
  padding: 0 30px
  background: none
  // background: url(#{$url}foot-bg.svg) center center no-repeat
  // background-size: cover
  // padding-top: 51px
  // padding-bottom: 22px
  // position: relative
  @media #{$mobile}
    padding-bottom: 0
    padding: 0 15px 15px
    background-position: center
  .gotop-content
    position: absolute
    top: -19px
    left: 0
    width: 100%
    text-align: center
  .row
    // border-top: 1px solid rgba(white, .37)
    padding: 0
  p
    margin: 0
    padding: 7.5px 0
    text-align: center
    font-size: 14px
    color: white
    @media #{$mobile}
      padding-bottom: 10px
    span
      @media #{$mobile}
        float: left!important
        display: block
        width: 100%
        text-align: center
    span, a
      font-size: 12px
      color: white
      letter-spacing: 0
      font-weight: normal
      line-height: 20px
    a
      position: absolute
      right: 30px
      font-weight: normal
      @media #{$mobile}
        position: static
        display: block
        width: 100%
        // margin-top: 5px
        float: left
        margin-bottom: 0px

.right
  position: fixed
  bottom: 15%
  width: 40px
  right: 5px
  z-index: 9999
  a
    +trans
    &:hover
      opacity: 0.7
    // &:nth-of-type(1)
    //   background-color: #e9a24f!important
    // &:nth-of-type(2)
    //   background-color: #dd5f92!important
    // &:nth-of-type(3)
    //   background-color: #00a542!important
    // &:nth-of-type(4)
    //   background-color: #4c6bc1!important

.fb_customer_chat_icon
  bottom: 50px!important
