.navbar.navbar.navbar
  position: fixed
  margin-bottom: 0
  z-index: 99
  width: 100%
  border: 0
  box-shadow: none
  border-radius: 0
  background: rgba(white, 1)
  z-index: 9999
  padding: 15px 0 0px
  +trans
  @media #{$mobile}
    padding-top: 10px
    padding-bottom: 0px
  &.scroll
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.25)
  .container-fluid
    // width: calc(100% - 160px)
    padding: 0 50px
    margin: 0 auto
    @media #{$mobile}
      padding: 0
      width: 100%
  .header
    border: 0
  .navbar-brand
    margin-left: 0px
    margin-top: 0px
    // max-width: 20vw
    @media #{$mobile}
      max-width: 280px
      max-height: 60px
      margin-top: 10px
      margin-left: 25px
      margin-bottom: 0px
      padding: 0
      background-position: left center!important
      max-width: 65%
  .navbar-toggle
    border: 0
    margin-top: 30px
    margin-right: 0
    background: none
    border-radius: 0
    .sr-only
      display: none
    &:not(.collapsed)
      .icon-bar
        &:nth-of-type(3)
          opacity: 0
        &:nth-of-type(2)
          transform: rotate(45deg) translate(10px, 10px)
        &:nth-of-type(4)
          transform: rotate(-45deg)
    .icon-bar
      background: $color-b
      width: 30px
      margin-bottom: .5rem
      +trans
      &::before,
      &::after
        display: none
  .navbar
    border: 0
    background: white
    padding-bottom: 0px
    @media #{$mobile}
      padding-bottom: 15px
  .navbar-header
    @media #{$mobile}
      padding-bottom: 15px
  #navbar
    padding: 0
    @media screen and (min-width: 768px)
      margin-left: 135px
    @media #{$mobile}
      width: 100%
      margin: 0
      // background: #000
      padding-bottom: 0px
      box-shadow: none
      background: rgba(white, .76)
      border-top: 1px solid #ccc
      padding-bottom: 15px
      max-height: calc(100vh - 100px)
      overflow: auto
      overscroll-behavior: contain
      a
        border: 0
        color: white
    .navbar-nav
      float: left
      position: initial
      // width: 100%
      @media screen and (min-width: 768px)
        display: flex
        justify-content: flex-start
        align-items: center
        padding-left: 0px
        margin-left: 0vw
        margin-top: 40px
      @media #{$mobile}
        margin: 0
        float: left
        margin-top: 15px
        width: 100%
        padding: 0 5px
        margin-top: 0
        margin-top: 7.5px
      *
        color: $color-b
        font-size: 18px
        font-weight: 400
        letter-spacing: 1px
      >li
        @media screen and (min-width: 768px)
          margin-left: 4.5vw
          padding-bottom: 0
        @media #{$mobile}
          margin-bottom: 15px
        &:last-child
          @media #{$mobile}
            margin-bottom: 0
            padding-bottom: 0
        >a
          position: relative
          overflow: hidden
          text-transform: uppercase
          color: $color-b
          padding-bottom: 0
          font-size: 18px
          padding-left: 7.5px
          padding-right: 7.5px
          padding-top: 0
          text-align: center
          letter-spacing: 2px
          font-weight: 500
          color: $color-b
          +trans
          @media screen and (min-width: 768px)
            margin-right: 0px
          @media #{$mobile}
            text-align: left
            margin-left: 0
          &:hover
            opacity: 0.7
      li
        position: initial
        // padding-bottom: 15px
        padding-bottom: 10px
        a
          border: 0
          padding-bottom: 0
          transition: $trans
          @media screen and (min-width: 768px)
            padding-bottom: 15px 
          &.dropdown-toggle
            @media #{$mobile}
              display: block
            &::before
              @media #{$mobile}
                content: ''
                float: right
                +tr3($color-b, $color-n, $color-n, $color-n)
                transform: rotate(90deg)
                border-width: 6px
                +trans
        &.dropdown
          @media screen and (min-width: 768px)
            position: relative
            z-index: 99999999
          .dropdown-menu
            left: 0
            background: rgba(white, 1)
            border: 0
            width: 100%
            overflow: initial
            box-shadow: none
            @media #{$mobile}
              margin-top: 5px
              padding-right: 0px
              // padding: 15px 5px
          &:hover,
          &.open
            .dropdown-toggle
              &::before
                @media #{$mobile}
                  transform: rotate(0deg) translate(3px, 3px)
            .dropdown-menu
              border: 0
              width: auto
              @media screen and (min-width: 768px)
                display: flex
                flex-wrap: wrap
                width: auto
                right: initial
              @media #{$mobile}
                padding-left: 15px
                width: 100%
              li
                padding-bottom: 0
                @media screen and (min-width: 768px)
                  width: 100%
                a
                  padding: 0
                  padding: 7.5px 0
                  font-size: 18px
                  white-space: nowrap
                  transition: $trans
                  color: $color-b
                  padding-left: 15px
                  padding-right: 25px
                  font-weight: normal
                  letter-spacing: 1px
                  @media #{$mobile}
                    padding-left: 12px
                  &:hover
                    opacity: 0.7
  .navbar
    &+.search.search.search
      margin-left: 0px
      background: #000
      padding: 15px
      .input-group
        margin-left: 0
      input
        width: calc(100% - 28px)
  .member
    @media screen and (min-width: 768px)
      position: absolute
      top: 0
      right: 0
      display: flex
      flex-wrap: nowrap
      align-items: flex-end
    @media #{$mobile}
      display: flex
      align-items: center
      justify-content: center
    .navbar-nav
      margin-left: 7.5px
      @media #{$mobile}
        display: flex
        flex-wrap: nowrap
        position: absolute
        top: 0
        margin: 0 
        width: 100%
        justify-content: center
        margin-top: 7.5px!important
      li
        @media #{$mobile}
          text-align: center
          margin-bottom: 0!important
          padding-bottom: 0!important
          overflow: initial!important
        a
          padding: 0
          margin: 0
          color: #58595b
          font-size: 16px
          font-weight: 500
          margin: 0 15px
          position: relative
          +trans
          border-bottom: 0
          overflow: initial!important
          &:hover
            opacity: 0.7
          @media #{$mobile}
            white-space: nowrap
            width: 100%
            text-align: center
            margin: 0
            border: 1px solid #58595b
            padding: 5px 15px!important
          &::after
            content: '|'
            font-size: 16px
            color: #58595b
            position: absolute
            right: -15px
            @media #{$mobile}
              z-index: 3
              right: -5px
        &:nth-of-type(1),
        &:nth-of-type(2),
          a
            // @media #{$mobile}
            //   border-right: 0
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3)
          a
            &::before
              content: ''
              $w: 15px
              width: $w
              height: $w
              display: inline-block
              margin-right: 3.5px
        &:nth-of-type(1),
          a
            &::before
              background: url(#{$url}member-1.svg)center center no-repeat
        &:nth-of-type(2),
          a
            &::before
              background: url(#{$url}member-2.svg)center center no-repeat
            &::after
              display: none
  .formBS[role="search"]
    width: 125px
    border-bottom: 1px solid #58595b
    border-radius: 0px
    background: $color-n
    padding: 0 5px
    height: 30px
    overflow: hidden
    @media #{$mobile}
      position: static
      margin-top: 0px
      margin-bottom: 0px
      width: calc(100% - 100px)
      display: inline-flex
      float: left
    .input-group
      input
        border-top: 0
        border-left: 0
        border-right: 0
        border-radius: 10px
        height: 30px
        font-size: 14px
        padding: 0
        background: $color-n
        margin-left: 7.5px
        &::placeholder
          font-size: 14px
          letter-spacing: 0px
          font-weight: bold
          color: #a3a3a3
          position: relative
          @media #{$mobile}
            top: 0
      .input-group-btn
        position: relative
        z-index: 9999
        padding-bottom: 0
        .btn.svg
          $w: 15px
          width: $w!important
          height: $w!important
          border: 0
          padding: 0
  .formBS.formBS.formBS.formBS
    @media #{$mobile}
      width: 100%
      margin-top: 7.5px
      padding-left: 15px
      padding-right: 15px
      padding-bottom: 0px
      border-bottom: 0
      border: 0
      height: auto
    .input-group
      @media #{$mobile}
        width: 100%
        border-bottom: 1px solid $color-b
        border-radius: 0
    input
      @media #{$mobile}
        margin: 0
        border: 0
      &::placeholder
        @media #{$mobile}
          padding-left: 7.5px
    button
      margin-right: 7.5px

.mnavbar
  display: none