.navbar.navbar.navbar
  position: absolute
  margin-bottom: 0
  z-index: 99
  width: 100%
  border: 0
  box-shadow: none
  border-radius: 0
  background: rgba(white, .79)
  // +box-shadow
  z-index: 9999
  padding: 20px 0 25px
  border-top: 8px solid $color-red
  +trans
  @media #{$mobile}
    padding-top: 5px
    padding-bottom: 10px
    background: white
  .container-fluid
    // width: calc(100% - 160px)
    padding: 0 30px
    margin: 0 auto
    @media #{$mobile}
      padding: 0
      width: 100%
  .header
    border: 0
  .navbar-brand
    margin-left: 0px
    margin-top: 0px
    // max-width: 20vw
    @media #{$mobile}
      max-width: 280px
      max-height: 60px
      margin-top: 10px
      margin-left: 25px
      margin-bottom: 0px
      padding: 0
      background-position: left center!important
      max-width: 65%
  .navbar-toggle
    border: 0
    margin-top: 40px
    margin-right: 0
    background: none
    border-radius: 0
    .sr-only
      display: none
    //   &::before,
    //   &::after
    //     background: #000
    .icon-bar
      background: $color-red
      width: 30px
      margin-bottom: .5rem
      &::before,
      &::after
        display: none
  .navbar
    border: 0
    background: white
    padding-bottom: 0px
    @media #{$mobile}
      padding-bottom: 15px
  // .navbar-header
  #navbar
    padding: 0
    // @media screen and (min-width: 768px)
    //   margin-top: 25px
    @media #{$mobile}
      width: 100%
      margin: 0
      // background: #000
      padding-bottom: 0px
      box-shadow: none
      background: #fff
      a
        border: 0
        color: white
    .navbar-nav
      float: left
      position: initial
      // width: 100%
      @media screen and (min-width: 768px)
        display: flex
        justify-content: flex-start
        align-items: center
        padding-left: 0px
        margin-left: 0vw
        margin-top: 35px
      @media #{$mobile}
        margin: 0
        float: left
        margin-top: 15px
        width: 100%
        padding: 0 5px
        margin-top: 0
        margin-top: 15px
      *
        color: $color-b
        font-size: 18px
        font-weight: 400
        letter-spacing: 1px
      >li
        @media screen and (min-width: 768px)
          margin-left: 4vw
          padding-bottom: 0
        @media #{$mobile}
          margin-bottom: 7.5px
        >a
          position: relative
          overflow: hidden
          text-transform: uppercase
          color: $color-b
          padding-bottom: 0
          font-size: 18px
          padding-left: 7.5px
          padding-right: 7.5px
          padding-top: 0
          text-align: center
          letter-spacing: 2px
          font-weight: 500
          +trans
          @media screen and (min-width: 768px)
            margin-right: 0px
            padding-bottom: 0
          @media #{$mobile}
            text-align: left
          &:hover
            color: $color-blue
        &.facebook
          @media screen and (min-width: 768px)
            margin-left: 2vw
          a
            padding-left: 23px
            display: inline-block
            float: left
            width: auto
            img
              width: 23px
              height: 23px
      li
        position: initial
        // padding-bottom: 15px
        padding-bottom: 10px
        a
          border: 0
          padding-bottom: 0
          transition: $trans
          &.dropdown-toggle
            @media #{$mobile}
              display: block
            &::before
              @media #{$mobile}
                content: '+'
                color: white
                float: right
                font-size: 24px
        &.dropdown
          @media screen and (min-width: 768px)
            position: relative
            z-index: 99999999
          .dropdown-menu
            left: 0
            background: rgba(#fff, .7)
            border: 0
            width: 100%
            overflow: initial
            box-shadow: none
            @media #{$mobile}
              margin-top: 5px
              // padding: 15px 5px
          &:hover,
          &.open
            .dropdown-toggle
              &::before
                @media #{$mobile}
                  content: '-'
            .dropdown-menu
              border: 0
              width: 100%
              @media screen and (min-width: 768px)
                display: flex
                flex-wrap: wrap
              @media #{$mobile}
                padding-left: 15px
              li
                padding-bottom: 0
                @media screen and (min-width: 768px)
                  width: 100%
                a
                  padding: 0
                  padding: 7.5px 0
                  font-size: 17px
                  white-space: nowrap
                  transition: $trans
                  color: $color-b
                  padding-left: 15px
                  font-weight: bold
                  letter-spacing: 3px
                  &:hover
                    color: $color-blue
  .navbar
    &+.search.search.search
      margin-left: 0px
      background: #000
      padding: 15px
      .input-group
        margin-left: 0
      input
        width: calc(100% - 28px)
  .search
    .formBS
      position: absolute
      top: -55px
      right: 60px
      width: 183px
      border: 2px solid #555556
      border-radius: 6px
      background: $color-n
      padding: 0 5px
      height: 30px
      overflow: hidden
      @media #{$mobile}
        position: static
        margin-top: 15px
        margin-bottom: 15px
        width: 100%
      .input-group
        input
          border-top: 0
          border-left: 0
          border-right: 0
          border-radius: 10px
          height: 30px
          font-size: 14px
          padding-top: 2px
          padding-bottom: 0
          background: $color-n
          &::placeholder
            font-size: 14px
            letter-spacing: 2px
            font-weight: bold
            color: $color-b
            text-transform: uppercase
            position: relative
            top: -4px
        .input-group-btn
          position: relative
          z-index: 9999
          top: -5px
          .btn.svg
            $w: 15px
            width: $w!important
            height: $w!important
            border: 0
