.idx.section-1
  @media #{$mobile}
    padding: 0
  .row
    +max-width
    padding: 45px 0
    @media #{$mobile}
      padding: 25px 0
      margin-bottom: 30px
  >.content
    border-bottom: 1px solid #d7374b
    @media #{$mobile}
      padding: 0 15px
    &:nth-of-type(1)
      background: #eaeaea
    &:nth-of-type(2)
      background: #bfbfbf
    &:nth-of-type(3)
      background: #a3a3a3
      border: 0
  .img
    @media #{$mobile}
      text-align: center
      margin-bottom: 30px
  .text
    .title
      margin-top: 0
      font-size: 29px
      font-weight: bold
      color: #e5516a
      margin-bottom: 15px
  ul
    list-style: none
    padding-left: 0
    li
      color: $color-b
      line-height: 50px
      font-size: 17px
      font-weight: 500
      &::before
        content: ''
        display: inline-block
        $w: 8px
        width: $w
        height: $w
        background: #e5516a
        border-radius: 50%
        margin-right: 7.5px
        position: relative
        top: -2px
  p
    font-size: 17px
    line-height: 50px
    font-weight: 500
    color: $color-b
  .btn
    position: absolute
    right: 60px
    bottom: 25px
    background-size: contain!important
    background-repeat: no-repeat!important
    background-position: center!important
    border: 0
    +trans
    @media #{$mobile}
      position: static
      float: right
    &:hover
      opacity: 0.7
