.idx.section-3
  padding-bottom: 50px
  @media #{$mobile}
    padding-bottom: 25px
  .row.info
    +max-width
    .img
      @media screen and (min-width: 768px)
        width: 462px
    .text
      @media screen and (min-width: 768px)
        width: calc(100% - 462px)
    .svg
      position: absolute
      right: -57px
      bottom: 0
      @media #{$mobile}
        right: 0
        bottom: -50px
        opacity: 0.2
    .mb
      .listBS
        &:nth-last-of-type(1)
          .d-item
            padding-bottom: 0
            border: 0
        .d-item
          border-bottom: 1px solid rgba(#716558, .37)
          padding: 7.5px 0
          @media #{$mobile}
            padding: 15px 0
          .d-txt
            .mdate
              font-size: 13px
              color: #808080
              display: block
            a
              font-size: 20px
              font-weight: 500
              color: #603813
            .mdetail
              color: #404041
              font-size: 14px
      .more
        margin-top: 90px
        text-align: center
        @media #{$mobile}
          margin-top: 30px
        a
          +btn
          font-size: 15px
          padding: 7l.5px 60px