.idx.section-2
  +max-width
  @media screen and (min-width: 768px)
    margin: 15px auto 30px
  @media #{$mobile}
    margin-bottom: 15px
  .row
    margin: 0
    background: url(#{$url}section-2-bg.png) center center no-repeat
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    padding: 15px
    .col-xs-12
      border: 1px solid #ffffff
      padding: 30px 0
      @media #{$mobile}
        padding: 30px 15px
  .info
    color: white
    font-size: 16px
    line-height: 32px
    @media #{$mobile}
      text-align: center
  .content  
    display: flex
    justify-content: center
    flex-wrap: wrap
    .module-title,
    .more
      @media screen and (min-width: 768px)
        width: 100%
  .more
    text-align: center
    padding: 30px 0 0