.navbar.navbar.navbar
  +trans
  position: fixed
  z-index: 3
  width: 100%
  @media screen and (min-width: 768px)
    padding-top: 50px
  // Logo 區塊
  .navbar-header
    @media screen and (min-width: 768px)
      display: flex
      justify-content: center
      width: 100%
      padding-bottom: 20px
      border-bottom: 1px solid rgba(#969081, .25)
    @media #{$mobile}
      background: rgba(white, .5)
    @media #{$mobile}
      padding: 7.5px 15px
      border-bottom: 1px solid rgba(#969081, .25)
    .navbar-brand
      margin-left: 0 // clear mshop default
  .navbar-toggle
    background: none // Clear mshop default
    border: 0 // Clear mshop default
    border-radius: 0 // Clear mshop default
    .sr-only
      display: none
    &:not(.collapsed)
      .icon-bar
        &:nth-of-type(2)
          transform: rotate(45deg) translate(7px, 7px)
        &:nth-of-type(3)
          transform: rotate(-45deg)
        &:nth-of-type(4)
          opacity: 0
    .icon-bar
      +trans
      background: $color-b
      width: 30px
      margin-top: 7.5px

  &.scroll
    @media screen and (min-width: 768px)
      padding-top: 25px
      background: white
  #navbar
    @media screen and (min-width: 768px)
      float: left
      width: 100%
    @media #{$mobile}
      background: rgba(white, .9)
  .navbar-nav
    @media screen and (min-width: 768px)
      display: flex
      justify-content: center
    @media #{$mobile}
      margin-top: 0 // Clear mshop default
      padding-bottom: 7.5px