.navbar.navbar.navbar
  border-radius: 0
  border-bottom: 0
  +trans
  position: fixed
  z-index: 9999
  width: 100%
  border-top: 0
  background: rgba(#221e1f, .78)
  @media screen and (min-width: 768px)
    padding: 0px 0 7.5px
  // Logo 區塊
  .navbar-header
    @media screen and (min-width: 768px)
      padding-bottom: 0px
    @media #{$mobile}
      padding: 7.5px 15px
      border-bottom: 1px solid rgba(#969081, .25)
    .navbar-brand
      margin-left: 0 // clear mshop default
      +trans
  .hidden-xs .svg
    +trans
  .navbar-toggle
    background: none // Clear mshop default
    border: 0 // Clear mshop default
    border-radius: 0 // Clear mshop default
    margin-top: 20px
    margin-right: 0
    .sr-only
      display: none
    &:not(.collapsed)
      .icon-bar
        &:nth-of-type(2)
          transform: rotate(45deg) translate(7px, 7px)
        &:nth-of-type(3)
          transform: rotate(-45deg)
        &:nth-of-type(4)
          opacity: 0
    .icon-bar
      +trans
      background: white
      width: 30px
      margin-top: 7.5px
  .container-fluid
    max-width: 1200px
    margin: 0 auto

  &.scroll
    @media screen and (min-width: 768px)
      padding: 0
      padding-bottom: 3.25px
      +box-shadow
    .navbar-brand,
    .hidden-xs .svg
      $w: 65px
      width: $w!important
      height: $w!important
  #navbar
    @media screen and (min-width: 768px)
      display: flex!important
      justify-content: space-around
      align-items: center
      width: 100%
    @media #{$mobile}
      box-shadow: 0px 5px 5px -1px rgba(#ccc, .3)
  .navbar-nav
    @media screen and (min-width: 768px)
      display: flex
      flex-wrap: nowrap
      margin: 0
      width: 100%
      justify-content: space-around
      align-items: center
    //   justify-content: flex-start
    @media #{$mobile}
      margin-top: 0 // Clear mshop default
      padding-bottom: 7.5px