- var url = '/ezfiles/905/1905/img/2528/'

.banner.container-fluid
	.row
		.col-xs-12.img
			| ===MODULE===
		.col-xs-12.text
			.content
				img(src=url + "banner-text.png", alt="")
		a.svg.find-out(href="" style="background:url("+url+"banner-find-out.svg);")