- var url = '/ezfiles/843/1843/img/1309/'
.page.container-fluid.module-title
  .row
    .col-xs-12.module-title
      h4.title BLOG

.blog-news
  .row
    .col-sm-6.col-xs-12.img(data-aos="fade-right")
      img.img-responsive(src="/ezfiles/843/1843/img/1362/S__65536024.jpg", alt="")
    .col-sm-6.col-xs-12.text
      .content
        p(data-aos="fade-up")
          | 美好的早晨
          br
          | 享受陽光灑在臉上的溫暖
          br
          | 伴隨溫柔的觸碰
          br
          | 許自己一個閒適
          br
          | Design by: 
          br
          | 鎕潮室內設計
  .row
    .col-sm-6.col-xs-12.img(data-aos="fade-right")
      img.img-responsive(src="/ezfiles/843/1843/img/1363/S__80478226.jpg", alt="")
    .col-sm-6.col-xs-12.text
      .content
        p(data-aos="fade-up")
          | Furniture: 
          br
          | 北極熊傢俱
  .row
    .col-sm-6.col-xs-12.img(data-aos="fade-right")
      img.img-responsive(src="/ezfiles/843/1843/img/1363/S__80478223.jpg", alt="")
    .col-sm-6.col-xs-12.text
      .content
        p(data-aos="fade-up")
          | 大面落地窗將自然光引入通暢的空間
          br
          | White一字型沙發延伸視覺空間
          br
          | ㄚ字腳設計帶入輕盈感卻不失穩重
          br
          | 搭配簡約主人椅更加內斂
          br
          | 大理石面圓茶几與烤白玻璃邊几相互呼應
          br
          | 讓空間有"紋"也有"靜"
          br
          | 餐桌椅採用木紋材質
          br
          | 增添溫潤與禪
          br
          | 臥房以大面積木紋牆面
          br
          | 搭配大理石紋床邊小桌
          br
          | 展現低調奢華的品味
          br
          | 沒有過多的贅飾
          br
          | 調節繁忙生活步調裡繁雜的思緒
  .row
    .col-sm-6.col-xs-12.img(data-aos="fade-right")
      img.img-responsive(src="/ezfiles/843/1843/img/1362/S__65536022.jpg", alt="")
    .col-sm-6.col-xs-12.text
      .content
        .blog-prod-info
          .module-title
            h4.title 產品資訊
            .row
              .content.col-sm-6.col-xs-12(data-aos="fade-up")
                h5 沙發
                p
                  | 致敬Minotii White
                  br
                  | 297*100一字
              .content.col-sm-6.col-xs-12(data-aos="fade-up")
                h5 紐約單椅
                p 70*75*73(坐高40)
              .content.col-sm-6.col-xs-12(data-aos="fade-up")
                h5 圓茶几
                p
                  | 大90*37.5
                  br
                  | 小70*45.5
              .content.col-sm-6.col-xs-12(data-aos="fade-up")
                h5 邊几
                p 50*50
              .content.col-sm-6.col-xs-12(data-aos="fade-up")
                h5 餐桌
                p 210*90*75
              .content.col-sm-6.col-xs-12(data-aos="fade-up")
                h5 餐椅
                p 48*61*83
              .content.col-sm-6.col-xs-12(data-aos="fade-up")
                h5 香菇頭高茶几(陶瓷花色)
                p 48*48*54
              .content.col-sm-6.col-xs-12(data-aos="fade-up")
                h5 床尾椅
                p 150*40*45
              .content.col-sm-6.col-xs-12(data-aos="fade-up")
                h5 玄關桌
                p 124*54*76
              .content.col-sm-6.col-xs-12(data-aos="fade-up")
                h5 床頭櫃(黑)
                p 60*55
              .content.col-sm-6.col-xs-12(data-aos="fade-up")
                h5 棒球椅
                p
                  | 53*48*84
                  br
                  | 坐高45