- var url = '/ezfiles/814/1814/img/864/'

// 公司介紹
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center CAR技術
      h5.sub-title （Chimeric Antigen Receptor –T )嵌合抗原受體 T細胞

.page.container-fluid.car-t
  .row
    .col-xs-12
      .content
        p.title
          b 何謂CAR-T（Chimeric Antigen Receptor )嵌合抗原受體 T細胞?
        p 「嵌合抗原受體重組T細胞 (Chimeric Antigen Receptor T-cell immune therapy，CAR-T）」是以自體T細胞經過基因工程將一可辨識癌細胞表面標記的CAR基因裝載到T細胞上，改造成CAR-T來毒殺癌細胞。其概念像是在T細胞上面裝上一個辨識癌細胞的GPS，當CAR-T在體內遇到癌細胞的時候，就會辨識鎖定癌細胞，並啟動毒殺癌細胞的反應，精準而迅速。
        p 第一代CAR-T 細胞療法最早於1989 年開始研發，但效果並不理想。經過更新改良成第二代後，近幾年開始應用於臨床，並在急性白血病和非霍奇金淋巴瘤的治療上有十分顯著的療效，被認為是最有前景的腫瘤治療方式之一。與其它免疫療法類似，是利用病人自身的免疫細胞(T細胞)來清除癌細胞，是一種「活的細胞藥物」。CAR-T 的主要製造流程是通過分選出病人體內的T 細胞，然後將這種CAR 基因(嵌合抗原受體)導入並誘導表達，這些T 細胞便能夠表達CAR結構於細胞表面。隨後將這些經過基因修飾的CAR-T 細胞在實驗室進行體外增殖培養並最終輸回原患者體內，這些CAR-T 細胞便能夠利用他們表達的CAR 結合癌細胞表面標記，進而強效啟動T 細胞，快速摧毀癌細胞。
      .content
        p.img
          img.img-responsive(src=url + "car-t.png", alt="")
        p.title
          b Antigen Receptor )的結構
        p T 細胞的活化需要雙信號途徑。第一信號為T 細胞表面受體（T Cell Receptor，TCRs）與抗原呈遞細胞上的主要組織相容性複合物（MHC）結合，第二信號為抗原呈遞細胞上的共刺激分子B7 家族分子與T 細胞上的配體CD28 結合，產生協同刺激信號。在雙信號共同刺激之下，T 細胞活化增殖為細胞毒性T 細胞（Cytotoxic T Cells, CTL）。當CTL 再次遇到攜帶相同MHC 抗原肽複合體的腫瘤細胞時，就會與之結合並分泌穿孔素、顆粒酶細胞因數等進而直接將腫瘤細胞溶解。
        p CAR-T 細胞免疫療法的關鍵一環便是CARs 的結構設計。CARs 的基礎設計中包含一個細胞外的抗原識別域和一個細胞內的信號域。抗原識別域最常由一個scFv (Single-chain Variable Fragment)組成，通過鉸鏈結構域和/或跨膜結構域固定在細胞上，用於結合腫瘤相關抗原（Tutor, Associate Antigen, TAA）。細胞內的部分由啟動T 細胞必需的信號域組成。目前已上市或臨床研究中之CAR（嵌合抗原受體）主要是分為胞外區、跨膜區和胞內區三個結構域，本質上是由不同蛋白功能結構域串聯形成的膜蛋白。細胞外結構域通常是分離自抗原特異性單株抗體的scFv 片段。細胞內結構域是包含來源於TCR中的CD3-ζ 結構域，啟動和共刺激信號。根據信號分子的數量，CAR 分為第一代，第二代和第三代CAR。第二代的CARs 利用第一代的CARs 作為一種支柱，增加了一個額外的共刺激信號域，稱為“信號2”（Signal 2）；因此，相同的受體需傳遞“信號1”和“信號2”以優化T 細胞的啟動。第二代靶向CD19 的CAR-T 細胞包括了CD3ζ 和CD28 信號，與一代CD19-CAR-T 相比，回輸到非霍奇金淋巴瘤患者中的持久性和擴增性增強了。在過去的5 年中，包含CD28 或4-1BB(CD137)共刺激信號域的二代CD19- CAR-T 療法被證明對B-ALL 患者臨床有效。
      .content
        p.title
          b CAR-T細胞治療流程
        p 其治療過程必須先從患者身上分離免疫T細胞，並利用基因工程技術給T細胞加入一個能識別腫瘤細胞元素，讓T細胞具有殺死腫瘤細胞的嵌合抗體，這樣T細胞就變身為CAR-T細胞。最後藉由體外培養，大量擴增CAR-T細胞，再注入至患者體內
        .img
          img.img-responsive(src=url + "car-t-2.png", alt="")
          figcaption CAR-T 細胞製造生產流程圖
        p (1) T細胞採集與分離：首先利用白血球分離術採集患者自身的外周血單核細胞作為CAR-T的原料。
        p (2) T細胞CAR基因轉導：通過基因改造，利用病毒載體將CAR轉導入T細胞，讓T細胞於細胞膜上表現CAR結構。攜帶CAR基因的病毒載體被認為是CAR-T細胞製造過程的關鍵原料，也是在CAR結構設計之外另一個關鍵核心技術。
        p (3) CAR-T細胞擴增： CAR-T細胞擴增的速度與細胞純度，為CAR-T 細胞療法成功與否的關鍵。目前CAR-T細胞療法其適應症為的血癌或淋巴癌末期病患，此病患在無有效藥物控制下其存活時間非常短，CAR-T細胞擴增至治療有效數量之時間越短，製造成功率越高，其整體CAR-T治療效果越顯著，且病人存活率也對提高。
        p (4) CAR-T細胞回輸：病人回輸前，為提高CAR-T治療的效果，會接受剔除性化療，再將擴增好的CAR-T 細胞通過靜脈輸入人體。