.page.container-fluid.page-title
  .row
    .col-xs-12
      .module-title(data-aos="fade-up")
        h3 最新消息
        h4 News

.page.container-fluid.page-title
  .row
    .col-xs-12
      .module-title(data-aos="fade-up")
        h3 國際趨勢
        h4 INTERNATIONAL

.page.container-fluid.page-title
  .row
    .col-xs-12
      .module-title(data-aos="fade-up")
        h3 聯絡我們 
        h4 CONTACT US