- var url = '/ezfiles/811/1811/img/776/'
- 
  var list = [
    {
      id: 1,
      label: '現代風格',
      link: '/m/2000-1843-1800.php',
      children: [{
          id: 1,
          label: '沙發',
          link: '#',
          children: [{
              id: 1,
              label: '新品上市',
              link: '/m/2000-1843-3596.php',
            },
            {
              id: 2,
              label: '人氣熱銷',
              link: '/m/2000-1843-3597.php',
            },
            {
              id: 3,
              label: '限時特價',
              link: '/m/2000-1843-3629.php',
            },
            {
              id: 4,
              label: '經典牛皮',
              link: '/m/2000-1843-3598.php',
            },
            {
              id: 5,
              label: '布沙發',
              link: '/m/2000-1843-3599.php',
            },
            {
              id: 6,
              label: '貓抓系列',
              link: '/m/2000-1843-3600.php',
            }
          ]
        },
        {
          id: 2,
          label: '茶几',
          link: '#',
          children: [{
              id: 1,
              label: '子母茶几',
              link: '/m/2000-1843-3602.php',
            },
            {
              id: 2,
              label: '大茶几',
              link: '/m/2000-1843-3603.php',
            }
          ]
        },
        {
          id: 3,
          label: '邊几',
          link: '/m/2000-1843-1911.php',
        },
        {
          id: 4,
          label: '電視櫃',
          link: '/m/2000-1843-1912.php',
        },
        {
          id: 5,
          label: '單椅/休閒椅',
          link: '/m/2000-1843-1913.php',
        },
        {
          id: 6,
          label: '餐桌',
          link: '#',
          children: [{
              id: 1,
              label: '餐桌椅組',
              link: '/m/2000-1843-3605.php',
            },
            {
              id: 2,
              label: '岩板系列',
              link: '/m/2000-1843-3606.php',
            },
            {
              id: 3,
              label: '義大利陶板',
              link: '/m/2000-1843-3607.php',
            },
            {
              id: 4,
              label: '北歐實木',
              link: '/m/2000-1843-3608.php',
            }
          ]
        },
        {
          id: 7,
          label: '餐椅/書椅',
          link: '/m/2000-1843-1914.php',
        },
        {
          id: 8,
          label: '吧檯桌椅',
          link: '/m/2000-1843-1915.php',
        },
        {
          id: 9,
          label: '櫥櫃/餐櫃',
          link: '/m/2000-1843-1916.php',
        },
        {
          id: 10,
          label: '書櫃/層架',
          link: '/m/2000-1843-1917.php',
        },
        {
          id: 11,
          label: '書桌/電腦桌/辦公桌',
          link: '/m/2000-1843-1918.php',
        },
        {
          id: 12,
          label: '鞋櫃/穿鞋椅',
          link: '/m/2000-1843-1919.php',
        },
        {
          id: 13,
          label: '床組/床頭櫃',
          link: '#',
          children: [{
              id: 1,
              label: '床頭櫃',
              link: '/m/2000-1843-3610.php',
            },
            {
              id: 2,
              label: '床片/床底',
              link: '/m/2000-1843-3611.php',
            }
          ]
        },
        {
          id: 14,
          label: '其他',
          link: '/m/2000-1843-1921.php',
        }
      ]
    }, {
      id: 2,
      label: '原木風格',
      link: '/m/2000-1843-1801.php',
      children: [{
          id: 1,
          label: '沙發',
          link: '#',
          children: [{
              id: 1,
              label: '新品上市',
              link: '/m/2000-1843-3613.php',
            },
            {
              id: 2,
              label: '人氣熱銷',
              link: '/m/2000-1843-3614.php',
            },
            {
              id: 3,
              label: '限時特價',
              link: '/m/2000-1843-3615.php',
            },
          ]
        },
        {
          id: 2,
          label: '茶几',
          link: '/m/2000-1843-1806.php',
        },
        {
          id: 3,
          label: '邊几',
          link: '/m/2000-1843-1922.php',
        },
        {
          id: 4,
          label: '電視櫃',
          link: '/m/2000-1843-1923.php',
        },
        {
          id: 5,
          label: '單椅/休閒椅',
          link: '/m/2000-1843-1924.php',
        },
        {
          id: 6,
          label: '餐桌',
          link: '#',
          children: [{
            id: 1,
            label: '餐桌椅組',
            link: '/m/2000-1843-3617.php',
          }, ]
        },
        {
          id: 7,
          label: '餐椅/書椅',
          link: '/m/2000-1843-1925.php',
        },
        {
          id: 8,
          label: '椅凳/長凳',
          link: '/m/2000-1843-1926.php',
        },
        {
          id: 9,
          label: '櫥櫃/餐櫃',
          link: '/m/2000-1843-1927.php',
        },
        {
          id: 10,
          label: '書櫃/層架',
          link: '/m/2000-1843-1928.php',
        },
        {
          id: 11,
          label: '書桌/電腦桌/辦公桌',
          link: '/m/2000-1843-1929.php',
        },
        {
          id: 12,
          label: '鞋櫃/穿鞋椅',
          link: '/m/2000-1843-1930.php',
        },
        {
          id: 13,
          label: '玄關/花台',
          link: '/m/2000-1843-1931.php',
        },
        {
          id: 14,
          label: '床組/床頭櫃',
          link: '#',
          children: [{
              id: 1,
              label: '床頭櫃',
              link: '/m/2000-1843-3619.php',
            },
            {
              id: 2,
              label: '床片/床底',
              link: '/m/2000-1843-3620.php',
            }
          ]
        },
        {
          id: 15,
          label: '其他',
          link: '/m/2000-1843-1933.php',
        }
      ]
    }, {
      id: 3,
      label: '優質床墊',
      link: '/m/2000-1843-1897.php',
      children: [{
          id: 1,
          label: '台灣名床',
          link: '#',
          children: [{
              id: 1,
              label: '抗菌系列',
              link: '/m/2000-1843-3622.php',
            },
            {
              id: 2,
              label: '涼感系列',
              link: '/m/2000-1843-3623.php',
            },
            {
              id: 3,
              label: '恆溫系列',
              link: '/m/2000-1843-3624.php',
            },
            {
              id: 4,
              label: '寢具系列',
              link: '/m/2000-1843-3625.php',
            }
          ]
        },
        {
          id: 2,
          label: '寢具',
          link: '#',
          children: [{
              id: 1,
              label: '枕頭',
              link: '/m/2000-1843-3627.php',
            },
            {
              id: 2,
              label: '保潔墊',
              link: '/m/2000-1843-3628.php',
            },
          ]
        }
      ]
    }
  ]

//- =panel(propList, idx, path)
  //- each item, idx in propList
  //-   .panel-group(id="#accordion" + idx)
        //- .panel.panel-default
        //-   .panel-heading
        //-     .panel-title
        //-       a(href="/m/2000-1813-1240.php") HEAD
        //-       a.collapsed(data-toggle="collapse" data-parent="#accordion" + idx href="#collapse-1")
        //-         .fa.fa-plus
        //-   #collapse-1.panel-collapse.collapse
        //-     .panel-body


//- .page.container-fluid.product-list
//-   .row
//-     aside.col-sm-3.col-xs-12
//-       each parent, pidx in list


//-         //- .panel-group(id="#accordion" + pidx)
//-         //-   .panel.panel-default
//-         //-     .panel-heading
//-         //-       .panel-title
//-         //-         a(href="/m/2000-1813-1240.php") HEAD
//-         //-         a.collapsed(data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1")
//-         //-           .fa.fa-plus
//-         //-     #collapse-1.panel-collapse.collapse
//-         //-       .panel-body
//-         //-         ul
//-         //-           li
//-         //-             a(href="/m/2000-1813-1242.php") 網球拍
//-         //-           li
//-         //-             a(href="/m/2000-1813-1243.php") 壁球拍
//-         //-           li
//-         //-             a(href="/m/2000-1813-1244.php") 球拍袋
//-         //-           li
//-         //-             a(href="/m/2000-1813-1245.php") 運動鞋子
//-         //-           li
//-         //-             a(href="/m/2000-1813-1246.php") 運動服飾
//-         //-           li
//-                     a(href="/m/2000-1813-1247.php") 耗材&道具
//-         //- .panel.panel-default
//-         //-   .panel-heading
//-         //-     .panel-title
//-         //-       a(href="/m/2000-1813-1241.php") INFIN
//-         //-       a.collapsed(data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2")
//-         //-         .fa.fa-plus
//-         //-   #collapse-2.panel-collapse.collapse
//-         //-     .panel-body
//-         //-       ul
//-         //-         li
//-         //-           a(href="/m/2000-1813-1248.php") 戶外休閒/運動商品
//-         //-         li
//-         //-           a(href="/m/2000-1813-1249.php") 電腦包/後揹包/行李箱
//-         //-         li
//-         //-           a(href="/m/2000-1813-1250.php") 餐廚刀具
//-         //-         li
//-         //-           a(href="/m/2000-1813-1251.php") 護膚保養/沐浴洗髮
//-         //-         li
//-         //-           a(href="/m/2000-1813-1252.php") 時尚墨鏡/手錶
//-         //-         li
//-         //-           a(href="/m/2000-1813-1253.php") 居家香氛
//-     main.col-sm-9.col-xs-12.append
//-       | ===MODULE===