- var url = '/ezfiles/814/1814/img/864/'

.page.container-fluid.hire
  .row
    .col-xs-12.foot-link
      p
        | 職務詳情可點連結查閱
        a.btn(href="") 104人力銀行
.page.container-fluid.rule
  .row
    h3.title 應徵流程
  .row
    .col-sm-5.col-xs-12.img
      .content(data-aos="fade-up")
        span.svg(style="background:url("+url+"rule-icon-1.svg); width: px; height: px;")
        figcaption 履歷投遞
    .col-sm-7.col-xs-12.text
      ol
        li(data-aos="fade-up") 人力銀行履歷投遞應徵職缺
        li(data-aos="fade-up")
          | 篩選適合履歷
          br
          | (所需時間約1~2周)
        li(data-aos="fade-up") 
          | 符合職缺者HR人員會與您電話聯繫確認面試時間
          br
          | (未符合者不另外通知)
  .row
    .col-sm-5.col-xs-12.img
      .content(data-aos="fade-up")
        span.svg(style="background:url("+url+"rule-icon-2.svg); width: px; height: px;")
        figcaption 應試流程
    .col-sm-7.col-xs-12.text
      ol
        li(data-aos="fade-up")
          | 安排面試：
          br
          | 填寫基本資料表/面談
        li(data-aos="fade-up")
          | 面試後由主管審核
          br
          | (所需時間約1~2周)
  .row
    .col-sm-5.col-xs-12.img
      .content(data-aos="fade-up")
        span.svg(style="background:url("+url+"rule-icon-3.svg); width: px; height: px;")
        figcaption 任用確認
    .col-sm-7.col-xs-12.text
      ol
        li(data-aos="fade-up")
          | 確認率取者，由HR人員電話
          br
          | 聯繫確認正式報到時間。
        li(data-aos="fade-up")
          | 透過Email發送正式錄取通知
          br
          | (未錄取者不另外通知)
  .row
    .col-sm-5.col-xs-12.img
      .content(data-aos="fade-up")
        span.svg(style="background:url("+url+"rule-icon-4.svg); width: px; height: px;")
        figcaption 報到
    .col-sm-7.col-xs-12.text
      ol
        li(data-aos="fade-up") 新進員工報到
        li(data-aos="fade-up") 基本教育訓練