- var url = '/ezfiles/905/1905/img/2528/'

.page.page-title.container-fluid
  .row
    .col-xs-12
      .module-title
        .line 
        span.svg(style="background:url("+url+"title-l.svg); width: 34px; height: 87px;") 
        span.text 公益回饋 Activity
        span.svg(style="background:url("+url+"title-r.svg); width: 34px; height: 87px;") 
        .line 

.page.activity.container-fluid
  .row
    .col-sm-5.col-xs-12.img
      img.img-responsive(src=url + "activity.png", alt="")
    .col-sm-7.col-xs-12.text
      table
        tbody
          tr
            td 捐贈方式
            td 每售出一包濾掛咖啡，花葳即替您捐出一元給公益團體。
          tr
            td 受贈單位
            td
              | 財團法人失親兒福利基金會
              br
              | 財團法人現代婦女教育基金會
          tr
            td 公告
            td 每月將捐贈收據轉貼供閱。
