- var url = '/images/'

.page.container-fluid.page-title
  .row
    .col-xs-12
      .module-title
        h4 品質政策
        h5 ABOUT US

.page.container-fluid.prod-rule
  .row
    .col-xs-12.img
      img.img-responsive.center-block(src=url + "prod-rule.png", alt="")
    .col-xs-12.text
      p
        b 『創新卓越、持續改善、堅持品質、顧客滿意』
        | 為求貫徹品質政策的精神，公司各部門應相互配合積極推展品質系統之運作，使各項程序整合落實，不斷開拓創新、追求卓越，提供讓顧客滿意之產品與服務，並持續改善，達成以上承諾。