- var url = '/ezfiles/901/1901/img/2444/'

.prod-info
  p
    | 降溫後玫瑰花香味更濃醇，建議可冷飲及加糖、牛奶做成玫瑰奶茶咖啡飲用
    br
    | ★每售出一包花葳濾掛花咖啡，我們即替您捐出一元做愛心★

  ul.nav.nav-tabs.list-inline
    li.active
      a(href="#prod-1" data-toggle="tab") 商品描述
    li
      a(href="#prod-2" data-toggle="tab") 退換貨說明
    li
      a(href="#prod-3" data-toggle="tab") 注意事項
  .tab-content
    #prod-1.tab-pane.fade.in.active
      p
        | 包裝內容物：5入
        br
        | 淨重：標示於袋口
        br
        | 保存期限：一年
        br
        | 每杯水量建議：200c.c.±
        br
        | 保存方法：請置放於陰涼乾燥處
    #prod-2.tab-pane.fade
      p 花葳 · 花咖啡非常感謝您的訂購，若有下列情況，麻煩您來電通知客服人員，我們將會儘快為您服務！
      ol
        li 商品有瑕疵破損
        li 收到商品內容與訂購品相數量不符
        li 請將欲退換貨的商品，連同贈品(若有)寄回，待我們收到貨後，將重新寄送或退款給您。
        li 基於食品衛生考量，商品一經拆封，恕無法提供退換貨服務敬請見諒﹗
      p 花葳 · 花咖啡非常感謝您的訂購，若有下列情況，麻煩您來電通知客服人員，我們將會儘快為您服務！
    #prod-3.tab-pane.fade
      ol
        li 請盡量使用高度超過10 cm的杯具手沖本濾掛咖啡產品。
        li 因本產品內含新鮮乾燥花瓣，請正常使用開水手沖後，勿浸泡咖啡濾袋，以免影響咖啡口感。
        li 因線上刷卡系統服務，尚在測試當中，目前暫無法使用，敬請見諒！


//- .prod-detail
//-   .row
//-     .col-xs-12
//-       .embed-responsive.embed-responsive-16by9
//-         <iframe class="embed-responsive-item" width="100%" height="315" src="https://www.youtube.com/embed/2pNcvgXEuQY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>