.prod-info
  p
    b 說　明
    br
    | 移動腳輪-採用日本高規格雙煞車，與地面有8個接觸點煞車穩固性最強，使用ABS材質質感優雅且載重能力絕佳，毋須重力即可推動床體。並可防塵垢及毛髮附著。
    br
    | 床頭尾板-精緻木製厚板（同鋼琴使用材質）床頭尾板可拆卸，符合CPR需要及方便洗頭工作，附點滴插座。
    br
    | 鋁製護欄或雙開式護欄。
    br
    | 低電壓直流靜電馬達，停電可用乾電池平降床身，高品質通過歐盟(CE)及多項認證。
  p
    b 規　格
    br
    | 床體尺吋：L204xW107cm(最大外徑)
    br
    | 床墊尺吋：L193xW85xH11cm
    br
    | 升降高度：背部0°~80°, 腿部0°~30°
    br
    | 垂直升降：41~71cm(含床墊)
    br
    | 安全承載重量，可達160公斤安全負重。
  p
    b 功　能
    br
    | 床頭升降
    br
    | 床尾升降
    br
    | 床身高低升降
    br
    | 坐立功能
  p
    b 配　件
    br
    | 三馬達線控器-防水線控器。
    br
    | 搭配雙層式床墊(一面舒軟、 一面厚實)。