- var url = '/ezfiles/889/1889/img/2126/'

.page.container-fluid.module-title
  .row
    .col-xs-12.module-title
      h4.title 常見問題
      h4.sub-title Q&A
          

.page.container-fluid.qa
  .row
    .col-xs-12
      h4.title 【關於多莉芙】
      .content(data-aos="fade-up")
        h5.sub-title ＊試躺位置：
        p 
          | 歡迎至多莉芙門市試躺
          br
          | 為避免人潮眾多，請盡量先與線上客服預約時段（預約試躺連結）
      .content(data-aos="fade-up")
        h5.sub-title ＊適應床墊：
        p 
          | 由於已經習慣舊床墊的軟硬度，剛開始睡在新床墊時身體可能會感到不習慣而不自覺施力，
          br
          | 並不代表不適合，請至少睡３０天讓身體適應新床墊，你會發現身體慢慢地放鬆，睡得比以前更加舒適安心
      .content(data-aos="fade-up")
        h5.sub-title ＊保養：
        p 
          | 建議收到床墊後，前6個月內，每隔1-2個月將床墊180度頭尾對調，
          br
          | 6個月後，每隔3-6個月對調一次，使其受力平均，延長床墊壽命
      .content(data-aos="fade-up")
        h5.sub-title ＊保固：
        p 
          | 多莉芙提供１０年保固，範圍限於主結構：獨立筒，人為外力造成的損壞不在保固範圍
          br
          | （保固從送到當天起算，以貨運的簽收日期為準）
    .col-xs-12
      h4.title 【訂購及配送】
      .content(data-aos="fade-up")
        h5.sub-title ＊付款方式：
        p 
          | 現金
          br
          | 轉帳
          br
          | 信用卡（分期付款至多１２期，請洽線上客服或門市人員協助設定）
      .content(data-aos="fade-up")
        h5.sub-title ＊運費：
        p 依地區計算，偏遠地區及離島請洽線上客服或門市人員進一步取得資訊
      .content(data-aos="fade-up")
        h5.sub-title ＊交期：
        p 預定多莉芙床墊正常尺寸約７個工作天可出貨，訂製品依照內容調整交期，請洽線上客服或門市人員進一步取得資訊
      .content(data-aos="fade-up")
        h5.sub-title ＊配送：
        p 
          | 全台專人專車配送，將提前電話聯繫約定配送日期，抵達前會再次電話聯繫
          br
          | 舊床墊提供免費協助搬出，煩請事先與環保局清潔隊聯繫回收
          br
          | 若須協助回收將酌收處理費，請在約定送貨前預先告知需求
          br
          | （協助搬運物品限床墊，且數量需與購買數量一致，多莉芙將視現場狀況保留搬運與否的權利）
      .content(data-aos="fade-up")
        h5.sub-title ＊退、換貨：
        p 在保固期內若有非人為因素之主結構損壞，請洽線上客服或門市人員協助辦理退、換貨
      p
        small 有任何疑問歡迎點選右下方FACEBOOK訊息鈕聯繫線上客服
      p.img
        img.img-responsive(src=url + "qa.jpg")