- var url = '/ezfiles/905/1905/img/2528/'

.page.page-title.container-fluid
  .row
    .col-xs-12
      .module-title
        .line 
        span.svg(style="background:url("+url+"title-l.svg); width: 34px; height: 87px;") 
        span.text 常見問題 Contact
        span.svg(style="background:url("+url+"title-r.svg); width: 34px; height: 87px;") 
        .line 

.container-fluid.page.faq.faq-detail
  .row
    .col-xs-12.info
      #accordion.panel-group
        .panel.panel-default
          .panel-title
            a(href="#collapse1", data-toggle="collapse", data-parent="#accordion") 付款方式
          #collapse1.panel-collapse.collapse.in
            .box
              ol
                li 
                  | 銀行匯款或ATM轉帳
                  br
                  | 銀行代號:007(第一銀行)  帳號:237-10-007352 戶名：一太企業社
                li 貨到付款(只限貨運宅配，無法超商到付)
        .panel.panel-default
          .panel-title
            a(href="#collapse2", data-toggle="collapse", data-parent="#accordion") 訂購方式
          #collapse2.panel-collapse.collapse
            .box
              p 進入購物頁面，挑選欲購買商品放入購物車，進入結帳頁面，確實填寫訂購資料，確認付款後即完成訂購。如想訂購客製化商品，可透過LINE@或私訊「好蛙花藝設計」臉書頁面洽詢。
        .panel.panel-default
          .panel-title
            a(href="#collapse3", data-toggle="collapse", data-parent="#accordion") 送貨方式
          #collapse3.panel-collapse.collapse
            .box
              p 透過貨運宅配或超商取貨方式送達。寄送時間完成付款後，三個工作天內完成商品寄出。
        .panel.panel-default
          .panel-title
            a(href="#collapse4", data-toggle="collapse", data-parent="#accordion") 運費說明
          #collapse4.panel-collapse.collapse
            .box
              p
                | 訂購滿$2800元，享有免費寄送服務。
                br
                | 超商取貨每件$60元 / 宅配到府每件$100元。
        .panel.panel-default
          .panel-title
            a(href="#collapse5", data-toggle="collapse", data-parent="#accordion") 配送範圍
          #collapse5.panel-collapse.collapse
            .box
              p 現台灣本島與外島地區，收件地址請勿為郵政信箱，若為外國地區請另外洽詢運費。
        .panel.panel-default
          .panel-title
            a(href="#collapse6", data-toggle="collapse", data-parent="#accordion") 退換貨說明
          #collapse6.panel-collapse.collapse
            .box
              .content
                p 花葳 • 花咖啡非常感謝您的訂購，若有下列情況，麻煩您來電通知客服人員，我們將會儘快為您服務！
              .content
                ol
                  li 商品有瑕疵破損
                  li 收到商品內容與訂購品相數量不符
                  li 請將欲退換貨的商品，連同贈品(若有)寄回，待我們收到貨後，將重新寄送或退款給您。
                  li 基於食品衛生考量，商品一經拆封，恕無法提供退換貨服務敬請見諒﹗
