.news-detail
  p 《自然》子刊Nature Biotechnology最新發表的一篇論文中，來自哈佛醫學院麻省總醫院（Massachusetts General Hospital）的科學家們展示了一項抗擊大腦惡性腫瘤的研究結果。他們結合兩種抗癌新技術，對膠質母細胞瘤展開有效攻擊。利用可產生雙特異性抗體的新型CAR-T細胞進行治療，在80%的小鼠中，腦內的腫瘤完全消失！
  p 膠質母細胞瘤是最常見的大腦惡性腫瘤。這種癌症侵略性極強，會迅速惡化，確診后留給患者的時間平均只有15個月左右，5年生存率低於10%，論兇殘程度，勝過被稱為「癌中之王」的胰腺癌！而常規的手術、放療和化療，對膠質母細胞瘤的治療效果十分有限。 
  p 免疫療法、細胞療法等革命性技術問世，讓科學家們有了更有力的抗癌武器。例如嵌合抗原受體（CAR）T細胞，這是一種經過基因工程設計的免疫細胞，表面帶有特製的抗體，能夠識別癌細胞。像已獲FDA批准的兩款CAR-T細胞療法（諾華的Kymriah和吉利德的Yescarta），就是針對癌細胞表面抗原CD19進行結合，用於治療血液腫瘤。 
  p 膠質母細胞瘤的細胞表面，也有特殊的受體分子可以作為識別抗原。比如，突變形式的表皮生長因子受體EGFRvIII。這些「致癌受體」介導了異常的生長因子信號通路，驅動癌細胞不受控制地瘋長。 
  p 理論上說，可以讓CAR-T細胞去識別EGFRvIII，對膠質母細胞瘤發起攻擊。這也正是這項研究負責人Marcela Maus教授曾經嘗試過的做法。可實體瘤之所以難治，一個很棘手的原因在於「異質性」，也就說，這些癌細胞的分子特徵不盡相同。在膠質母細胞瘤中，還有很多細胞不表達突變形式的EGFR，卻大量表達正常的EGFR，它們同樣會放大生長信號，造成腫瘤瘋長。這時候，光靠識別EGFRvIII的CAR-T細胞還不能擊退腫瘤。 
  p 怎麼能再補上一拳、提高治療效果？這時新型免疫療法——雙特異性T細胞接合器（BiTE）上場。所謂的「雙特異性」，就是可以同時靶向兩個分子，它就像兩個分子挂鉤，一個咬住腫瘤細胞EGFR，另一個咬住效應T細胞上的表面抗原，把T細胞激活，使之產生能殺傷腫瘤的蛋白質。 
  p 但BiTE要發揮作用，還有一個問題需要解決：膠質母細胞瘤位於腦中，抗體得通過血腦屏障才能起效，這對於分子量較大的BiTE有難度。為此，研究團隊設計了一個富有創意的方法。他們把表達BiTE的基因導入CAR-T細胞，當T細胞進入大腦後，再持續產生BiTE「咬住」腫瘤細胞。 
  p 接下來，研究團隊在膠質母細胞瘤小鼠模型中檢驗了這種新CAR-T細胞的治療潛力。他們在免疫缺陷型小鼠腦中植入了人腦膠質瘤細胞，然後把分泌BiTE的CAR-T細胞注入小鼠體內，同時靶向表達EGFRvIII和EGFR的腫瘤細胞予以打擊。經過3周時間，80%的小鼠表現出了「完全緩解」，體內已經看不到腫瘤！ 
  p 此外，由於針對EGFR的BiTE會局部地在CAR-T細胞到達的部位起作用，並不影響其他表達EGFR的正常組織，這一點研究者也在小鼠身上通過移植的人體皮膚進行了檢驗，為這種療法的安全性提供了數據。研究者為這種CART.BiTE細胞申請了專利，並希望開展進一步的臨床試驗。和其他癌症療法一樣，在最終確認適合用於人類之前，這種新療法還需要更多的實驗證據。「考慮到膠質母細胞瘤的存活率非常低，任何有效的療法，哪怕只能針對一部分病例，都可以造福患者。」Maus教授相信。
  p.link
    small 北京新浪網 來源：學術經緯
    a(href="https://news.sina.com.tw/article/20190724/32071968.html" target="_blank") https://news.sina.com.tw/article/20190724/32071968.html