.news-info
  p.date 2019.07.24
  p.title
    | 80%小鼠腫瘤完全消失！
    br
    | 新型CAR-T細胞"咬死"致命腦瘤
  p
    | 哈佛醫學院麻省總醫的科學家們展示了一項抗擊大腦惡性腫瘤的研究
    br
    | 結果，結合兩種抗癌新技術，對膠質母細胞瘤展開有效攻擊。利用可
    br
    | 產生雙特異性抗體的新型CAR-T細胞進行治療，在80%的小鼠中，腦
    br
    | 內的腫瘤完全消失！

.news-info
  p.date 2019.03.28
  p.title
    | 日本同日批准
    br
    | 亞洲首批個CAR-T療法Kymriah全球首個乾癬新藥SKYRIZI
  p
    | 日本厚生勞動省(MHLW)於日前(26)宣布，批准艾伯維(AbbVie)的乾癬
    br
    | 新藥SKYRIZI™（risankizumab），且全球首次獲得批准，另外也批准
    br
    | 諾華(Novartis)的Kymriah( tisagenlecleucel)，成為亞洲首個批准可
    br
    | 治療兩種B細胞惡性腫瘤的CAR-T療法。