- var url = '/ezfiles/843/1843/img/1309/'
.page.container-fluid.module-title
  .row
    .col-xs-12.module-title
      h4.title 最新消息
      h4.sub-title News

.news-detail
  .row
    .col-xs-12.title-content
      h4 是１１１１ 屬於你這隻單身狗的光棍節
        date 2020-11-111
    .col-md-6.col-sm-12.col-xs-12.img
      img.img-responsive(src=url + "news.jpg", data-aos="fade-right", data-aos-duration="1000" alt="")
    .col-md-6.col-sm-12.col-xs-12.text
      .content
        p(data-aos="fade-left" data-aos-duration="1000")
          | 是１１１１ 屬於你這隻單身狗的光棍節
          br
          | 只好讓聰明才智過人14大宇宙第一聰明的小編來教你一招脫單
          br
          | 「我家的狗會載人，要來我家看狗嗎？」
          br
          | 小萌犬加上北極熊的超高質感沙發讓你瞬間引爆話題GET閃光！
          br
          | 本月限定
          br
          | 消費41111以上送單身狗法鬥椅凳一隻（須完成小編任務）
          br
          | 法鬥單身狗讓還是單身狗的你不孤單寂寞
          br
          | 預祝各位滿額的朋友們早日脫單