- var url = '/images/'

.page.container-fluid.news-detail#insert_data
  .row
    .col-xs-12.title-content
      p
        | {{data.Title}}
        span.date
          | {{data.Date}}
  .row
    .col-sm-6.col-xs-12.img
      img.img-responsive.center-block(:src="data.Image")
    .col-sm-6.col-xs-12.text
      div(v-html="data.Content")

