- var url = '/ezfiles/912/1912/img/2680/'

.page.container-fluid.page-title
  .row
    .col-xs-12
      .module-title(data-aos="fade-up")
        h3 服務項目
        h4 SERVICE 

.page.container-fluid.about#section-1
  .wrapper
    .row.reverse
      .col-md-8.col-sm-12.col-xs-12.img
        img.img-responsive(src=url + "service-1.jpg", data-aos="fade-left", data-aos-duration="1000" alt="")
      .col-md-4.col-sm-12.col-xs-12.text
        .content(data-aos="fade-up" data-aos-duration="1000")
          p(data-aos="fade-up" data-aos-duration="1500")
            b 產業投資動向
            | 依據國際趨勢及全球市場變動，彙整相關資訊及報導，檢視當前產業動向及擴展領域，探討最新議題與投資概況。
.page.container-fluid.about#section-2
  .wrapper
    .row
      .col-md-8.col-sm-12.col-xs-12.img
        img.img-responsive(src=url + "service-2.jpg", data-aos="fade-right", data-aos-duration="1000" alt="")
      .col-md-4.col-sm-12.col-xs-12.text
        .content(data-aos="fade-up" data-aos-duration="1000")
          p(data-aos="fade-up" data-aos-duration="1500")
            b 專業投資眼光
            | 針對各產業領域統籌及彙整，並依據市場趨勢規劃專業投資流程及建議，達成預期目標及營運計畫。
.page.container-fluid.about#section-3
  .wrapper
    .row.reverse
      .col-md-8.col-sm-12.col-xs-12.img
        img.img-responsive(src=url + "service-3.jpg", alt="")
      .col-md-4.col-sm-12.col-xs-12.text
        .content(data-aos="fade-up" data-aos-duration="1000")
          p(data-aos="fade-up" data-aos-duration="1500")
            b 完善諮詢服務
            | 提供諮詢建議及服務，解決顧客問題，提升顧客滿意度。