- var url = '/ezfiles/909/1909/img/2654/'

.page-title
  .module-title
    h3 客戶服務
    h4 服務說明

.page.container-fluid.service
  .row
    .col-sm-12.col-xs-12
      <p>
        <strong><span style="font-size: 18px;">保固條款</span></strong>
      </p>

      <p><span style="font-size: 14px;">在符合下述條款和條件的前提下，台灣藝耐衛浴用品有限公司標準配置的正品附件(以下簡稱“產品”)，按國家相關規定如有產品方面的品質問題，台灣藝耐衛浴用品有限公司(以下簡稱“藝耐”)將予以保固。</span></p>

      <p style="font-size: 14px;">公司對購買藝耐產品的用戶提供下列有限的保固:在您購買藝耐產品保固期內的任何時間，若產品因不當安裝及不正確使用而造成的損壞及人為因素損壞，本公司將不負起維修責任，本公司保留此項解釋權。此有限責任擔保只適用於購買藝耐產品作家庭使用(非商業用途)的原消費者用戶。</p>

      <ol>
        <li>
          <p style="font-size: 14px;">本保固條款適用於藝耐生產並銷售的產品。</p>
        </li>
        <li>
          <p style="font-size: 14px;">本保固條款僅適用於從藝耐或其認可的經銷商或其認可的經銷商指定的代理處購買該產品的原始消費者(以下簡稱“消費者”)。</p>
        </li>
        <li>
          <p style="font-size: 14px;">消費者在使用產品前請先詳細閱讀《產品使用手冊》，並按要求正確安裝使用產品。</p>
        </li>
        <li>
          <span style="font-size: 14px;">保固期限</span>
          <ul style="list-style-type: none; padding-left: 0px;">
            <li><span style="font-size: 14px;">(01) 龍頭類產品一年保固期</span></li>
            <li><span style="font-size: 14px;">(02) 陶瓷類產品一年保固期</span></li>
            <li><span style="font-size: 14px;">(03) 衛浴傢俱類產品一年保固期</span></li>
            <li><span style="font-size: 14px;">(04) 浴缸類、電子(感應器)類產品一年保固期</span></li>
          </ul>
        </li>
        <li>
          <p style="font-size: 14px;">將產品送往藝耐維修部門或其授權的維修處的一切費用應由消費者承擔。</p>
        </li>
        <li>
          <span style="font-size: 14px;">如果下述任何一種情況發生，消費者將無法享受保固服務(即本保固條款不予適用):</span>
          <ul style="list-style-type: none; padding-left: 0px;">
            <li><span style="font-size: 14px;">(01) 使用非藝耐生產的更換用零件，不正確的使用、修理或維修引起的產品損壞(不論這些錯誤是由水管技工、承包商、業內人士造成、還是消費者自行造成。)</span></li>
            <li>
              <span style="font-size: 14px;">(02) 水壓不足，水中的雜質過多和不正當使用及清潔所導致的問題將不在保固範圍。保固範圖並不包括未有列明的修理及零件，但不包括安裝用。正常的磨損和滴水所致和變化。正常維護的損耗一例如正常維護需要定期更換的墊圈、密封圈等
              </span>
            </li>
            <li><span style="font-size: 14px;">(03) 適用於地區規範要求的責任。(因為各地區規範差異很大，特別是經銷商，安裝承包商和消費者應決定是否遷就安裝規範或改用特別的產品)</span></li>
          </ul>
        </li>
        <li>
          <p style="font-size: 14px;">如消費者需要此擔保書列明的服務，請與當地的藝耐衛浴經銷商聯絡，或發郵件:service@innoci.com.tw.，並說明產品型號，同時附上“有效購買產品發票”(“有效購買產品發票”是指財稅部門統一發票，即是產品售出的有效憑證、一般發票上應載明銷售者印章銷售時間、銷售產品名稱、規格、型號、型號、金額等項目)。</p>
        </li>
        <li>
          <p style="font-size: 14px;">保固期內，藝耐根據產品的缺陷程度或品質問題的嚴重性提供服務保固；保固期屆滿後，藝耐或其授權的維修點將提供有償維修服務。</p>
        </li>
        <li>
          <p style="font-size: 14px;">所有被維修替換下來的零件、部分零件和附件等為藝耐所有。從其它設備上拆除產品的相關費用應由消費者承擔，即該費用不屬免費保固的範圖。</p>
        </li>
        <li>
          <p style="font-size: 14px;">藝耐對產品的保固義務，無論本保固條款或其它說明可能隱含或表示的默認保固義務，都應當被理解為已包含在或限於本保固條款所列的保固範圖和保固期限。</p>
        </li>
        <li>
          <p style="font-size: 14px;">保固期內，消費者按本保固條款享受保固消費者因產品缺陷所受損失的唯一補救措施。換言之，藝耐對消費者的其它直接或間接損失，不負任何責任。</p>
        </li>
        <li>
          <p style="font-size: 14px;">任何藝耐的經銷商或其代理人或藝耐授權的維修處均無權代表藝耐承認或承擔超出本保固條款範圍的義務，無權放棄藝耐在本保固條款項下的任何權利。</p>
        </li>
        <li>
          <p style="font-size: 14px;">藝耐保留相關資訊，產品功能及規範調整等權利。恕不另行通知。</p>
        </li>
      </ol>

      <span style="font-size: 16px;"><b>藝耐售後服務的聯繫方式:</b></span>

      <ul style="list-style-type: none; padding-left: 0px;">
        <li><span style="font-size: 14px;">信箱: service@innoci.tw</span></li>
        <li><span style="font-size: 14px;">售後服務電話: 02-27012988</span></li>
        <li><span style="font-size: 14px;">網址:http://www.innoci.com.tw</span></li>
      </ul>
