- var url = '/images/'

.page.container-fluid.page-title
  .row
    .col-xs-12
      .module-title
        h4 歷史沿革
        h5 ABOUT US

.page.container-fluid.milestone
  .timeline-bullet
  .timeline-line
  .row(data-aos="fade-up")
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2003
  .row(data-aos="fade-up")
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Jan
        | 公司設立
  .row(data-aos="fade-up")
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Dec.
        | 建立蒸餾塔設備，產能設計為每月為600噸。
  .row.reverse(data-aos="fade-up")
    .col-sm-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2005
      p.timeline-event-details
        date Jul.
        | 獲得SGS ISO 9001系統認證
  .row(data-aos="fade-up")
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2006 
      p.timeline-event-details
        date Jun.
        | 發展LCD產業光阻剝離液以及稀釋液回收計畫
  .row.reverse(data-aos="fade-up")
    .col-sm-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2008 
      p.timeline-event-details
        date Dec.
        | 蒸餾塔擴充產能至每月900噸
  .row(data-aos="fade-up")
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2009
  .row(data-aos="fade-up")
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Jun.
        | 增加化學品儲量至2,100噸
  .row(data-aos="fade-up")
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Oct.
        | 跨足半導體產業光阻稀釋供應
  .row(data-aos="fade-up")
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Nov.
        | 建立品管分析無塵室以及增設金屬不純物分析儀器
  .row.reverse(data-aos="fade-up")
    .col-sm-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2010
  .row.reverse(data-aos="fade-up")
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Jun.
        | BSI ISO 9001,ISO 14064,ISO 14001,OHSAS 18001 更新認證系統核可
  .row.reverse(data-aos="fade-up")
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Oct.
        | 設立新混合充填系統以生產半導體產業光阻剝離液
  .row(data-aos="fade-up")
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2011
      p.timeline-event-details
        date Dec.
        | 擴大光阻稀釋液供應範圍至大陸以及東南亞地區
  .row.reverse(data-aos="fade-up")
    .col-sm-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2012
      p.timeline-event-details
        date Oct.
        | 獲得伊士曼化學公司(Eastman Chemical Company)頒發最佳生產夥伴獎
  .row(data-aos="fade-up")
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2013 
      p.timeline-event-details
        date Jul.
        | 提升混合充填系統至每月1,800噸
  .row.reverse(data-aos="fade-up")
    .col-sm-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2014
      p.timeline-event-details
        date May.
        | 獲頒SSMC(Systems on Silicon Manufacturing Co. Pte. Ltd) 最佳供應商獎
  .row(data-aos="fade-up")
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2017 
      p.timeline-event-details
        date Oct.
        | 榮獲2017鄧白氏中小企業菁英獎
