- var url = '/ezfiles/814/1814/img/864/'

// 標題
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 歷史沿革

.page.container-fluid.poem
  .timeline-bullet
  .timeline-line

  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2015
      p.timeline-event-details
        date Mar.
        | 《宇越生醫》成立，專注CAR-T技術研發
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-marker
      .timeline-date 2016
      p.timeline-event-details
        date Oct.
        | 與中國山東省《聊城市人民醫院》正式簽署「CD19-CART治療B細胞系血液惡性腫瘤」人體臨床研究合作
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2017
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Feb.
        | 於山東《聊城市人民醫院》依循GTP規範，建立CAR-T細胞製備實驗室
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date May
        | 山東《聊城市人民醫院》「CD19-CART治療B細胞系血液惡性腫瘤」人體臨床研究收入第一個受試者。
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Sep.
        | 與醫學中心簽署產學合作「CAR-T療法治療實體腫瘤之動物實驗模式研究計畫」
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Dec.
        | 山東《聊城市人民醫院》「CD19-CART治療B細胞系血液惡性腫瘤」人體臨床研究收案完成。
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2018
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Mar.
        | 收購中國《北京鑫諦合生醫》，執行與中國醫院臨床試驗合作
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date May
        | Welgenaleucel (UWC19 ) first in human人體臨床研究報告:
        br
        | PILOT STUDY OF WELGENALEUCEL(UWC19) IN PATIENTS WITH CHEMOTHERAPY RESISTANT/ REFRACTORY CD19+ LEUKEMIA AND LYMPHOMA
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Jul.
        | 向《中國藥監局》遞交Welgenaleucel (UWC19 ) 查驗登記用一期臨床試驗pre-IND申請
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Dec.
        | 向《食品藥物管理署》遞交Welgenaleucel (UWC19 ) 查驗登記用臨床試驗申請
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2019
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Mar.
        | 《益州集團》入資宇越生醫科技股份有限公司
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Aug.
        | CAR-T細胞藥物臨床前藥毒理試驗平台開發建置完成
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Nov
        | 獲邀Regenerative Medicine Symposium 2019:Adevance in Cell-Based Cancer Immunotherapy會議演講
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event.timeline-year
      .timeline-marker
      .timeline-date 2020
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Apr.
        | 董事會改選，益州集團法人代表秦嘉鴻先生當選董事長
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Apr.
        | 與《台北榮民總醫院》簽訂合作備忘錄
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Jul.
        | Welgenaleucel (UWC19 )第一期臨床試驗，取得《三軍總醫院》人體試驗計畫同意函
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Jul.
        | 《衛生福利部》核准通過Welgenaleucel (UWC19)第一期查驗登記用臨床試驗申請
  .row
    .col-sm-6.col-sm-offset-6.col-xs-12.timeline-event
      .timeline-bullet
      p.timeline-event-details
        date Aug.
        | 《宇越生醫》喬遷至汐止遠雄U-Town B棟33樓