- var url = '/ezfiles/814/1814/img/864/'

.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 產品開發

.page.container-fluid.develop-list
  .row
    .col-sm-4.col-xs-12
      a(href="/m/412-1814-1159.php?Lang=zh-tw#section-1")
        span.content
          span.box
            span.svg(style="background:url("+url+"develop-icon-1.svg); width: 59px; height: 59px;")
            figcaption Welgenaleucel (UWC19)
    .col-sm-4.col-xs-12
      a(href="/m/412-1814-1159.php?Lang=zh-tw#section-2")
        span.content
          span.box
            span.svg(style="background:url("+url+"develop-icon-2.svg); width: 59px; height: 59px;")
            figcaption Anti-HER2 CAR-T
    .col-sm-4.col-xs-12
      a(href="/m/412-1814-1159.php?Lang=zh-tw#section-3")
        span.content
          span.box
            span.svg(style="background:url("+url+"develop-icon-3.svg); width: 59px; height: 59px;")
            figcaption CAR-NK