- var url = '/ezfiles/814/1814/img/864/'

.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 產品開發
      h5.sub-title Welgenaleucel (UWC19)

.page.container-fluid.develop
  .row
    .col-xs-12
      .content
        p 是一個由宇越生醫所研發靶向人體CD19抗原的嵌合抗原受體（CAR）T細胞(Anti-CD19 Chimeric antigen receptor T cell) ，CD19 是一個B淋巴細胞表面抗原，專一表達在B細胞，使得CD19成為一個很好的靶點。Welgenaleucel (UWC19)的結構是以抗CD19 單鍊抗體(single-chain variable fragment, scFv) 、穿膜結構、4-1BB共刺激訊號以及CD3 訊號區所組成。
        p 主要目標適應症為復發/難治非霍奇金B細胞淋巴瘤以及急性/慢性淋巴性白血病。
        .row
          .col-sm-6.col-sm-push-6.col-xs-12.img
            img.img-responsive(src=url + "develop.png", alt="")
          .col-sm-6.col-sm-pull-6.col-xs-12.text
            p
              b Welgenaleucel (UWC19)
            p 經過體外試驗、動物試驗、臨床前藥毒理試驗，並執行人體臨床研究，目前已向食品藥物管理署申請治療復發或難治非霍奇金淋巴瘤查驗登記用一期臨床試驗，並獲得許可。
      .content
        p.title
          b Anti-HER2 CAR-T
        p CAR-T在血液腫瘤治療的優異成果及成功經驗，使得其應用在實體腫瘤治療的潛力被許多科學家所看好，但仍有許多技術門檻等待突破，近年來針對實體瘤的CAR-T 基礎研究進展迅速，雖目前在臨床轉化方面相對滯後，隨著實體瘤技術的不斷突破，未來CAR-T市場空間更是有大空間。
        p HER2為是人類上皮因子接受體第2蛋白，表現在細胞膜的表面，在許多實體腫瘤上，常有HER2的過度表現，屬於廣譜性抗原。HER2靶點在單株抗體領域已經成功應用多年，表現出很小的毒性。基於這些經驗，宇越選擇將靶向HER2的scFv應用到CAR-T療法上，用於治療HER2 陽性實體腫瘤。
        p 其主要目標適應症為HER2陽性之乳癌、胰臟癌、大腸癌、卵巢癌。
      .content
        p.title
          b CAR-NK 
        p CAR-T主要以患者自體的細胞為製備原料，仍會遇到患者細胞數不足或狀況不佳的情況，以及時間週期較長等議題，另個人化醫療的成本相對來的高昂，而異體CAR-NK，能夠增強治療的通用性和簡易性，同時可以彌補晚期腫瘤患者自身免疫細胞弱化的缺點。使用CAR-NK根據腫瘤的類型直接擴增相關靶點的CAR-NK，快速投入治療，能夠大大縮減治療週期和治療成本，有希望改變傳統免疫治療繁雜的模式，使其成為藥品一樣現成的易得治療方式，即“off-the-shelf”的概念。NK細胞優秀的抗腫瘤血統，極有可能在CAR修飾武裝下為腫瘤治療帶來新的突破。