- var url = '/images/'
.page.container-fluid.prod-navs
  .row
    .col-xs-12
      ul.nav.nav-tabs
        li
          a(href="") 產品特性
        li
          a(href="") 產品應用

.page.container-fluid.page-title
  .row
    .col-xs-12
      .module-title
        h4 產品特性
        h5 ABOUT US

.page.container-fluid.prod-detail.module-1
  .row
    .col-xs-12
      p
        span.btn 光阻稀釋液/Thinner
        br
        | Thinner是一種用途廣泛低毒性及清洗效果佳的有機溶劑，並對光阻溶解性佳乾燥速度快，廣泛應用於晶圓及LCD邊緣、背面及塗盤之清洗；以及傳統塗料行業地板抛光劑、印刷油墨、清潔劑、皮革加工、PS版用感光液、短效增塑劑、染料等領域。 主要組成為PGME及PGMEA，在液晶面板與半導體製程中，使用光阻稀釋液來清洗製程上多餘光阻，這些使用過後之光阻稀釋液廢液，可透過歐普仕專業純化技術與混合能力將廢液精餾並混合達客戶需求規格後，將產品再循環回客戶線上系統使用，以達節能減廢之品質政策。
    .col-xs-12
      p
        span.btn 光阻剝離液/Stripper
        br
        | Stripper是一種蒸發損失量極低，並於乾濕式蝕刻製程後之光阻剝離展現優良性能，廣泛應用於晶圓及LCD邊緣、背面及塗盤之清洗後即可完成薄膜電晶體之電極基板(或可稱為上基板) 。主要組成為DMSO、 NMP 或MEA，具有可回收之特性；若無法回收則轉至工業級產業使用，可有效減少資源浪費並降低使用者採購成本。