- var url = '/ezfiles/843/1843/img/1309/'

.prod-info
  ul
    li 編號：A070S1
    li 產品內容：
      ul
        li 一字形沙發一組(二件式)
        li 活動腳椅一件
        li 長方抱枕兩顆
    li 一般地區免運/非一般地區運費折抵$1500(購物車依區域自動計算)
    li 尺寸固定規格，如遇樓層搬運狀況，四樓以上(含四樓)將收取勞務費$200/層(司機另行收取)
    li 訂製製品、或材質有其他選擇，可洽門市或線上客服
    li 商品交期: 量產色及尺寸交期約2-3週、訂製產品依照訂製內容調整交期、可洽門市或線上客服
    li 商品享二年結構性保固

.prod-detail
  .row
    .col-xs-12
      img(src=url + "prod-detail-1.jpg", alt="")
      img(src=url + "prod-detail-2.jpg", alt="")