- var url = '/images/'

.page.container-fluid.page-title
  .row
    .col-xs-12
      .module-title
        h4 產品應用
        h5 ABOUT US

.page.container-fluid.prod-detail.module-2
  .row
    .col-sm-3.col-xs-12.icon
      span.svg(style="background:url("+url+"prod-icon-1.svg); width: 100px; height: 100px;")
      figcaption 半導體
    .col-sm-9.col-xs-12.text
      .row
        .col-sm-5.col-xs-12.title
          p 光阻稀釋液/Thinner 
        .col-sm-7.col-xs-12.info
          p 配合客戶使用不同光阻類型調配進而應用於IC/DRAM/NADA Flash製程中之光阻稀釋及洗邊液。
      .row
        .col-sm-5.col-xs-12.title
          p 光阻顯影液/Developer
        .col-sm-7.col-xs-12.info
          p 提供各種正負光阻及PI光阻使用之顯影液，其可包含三種不同基底溶劑 - TMAH base, KOH base, Solvent base
      .row
        .col-sm-5.col-xs-12.title
          p 光阻剝離液/Stripper
        .col-sm-7.col-xs-12.info
          p 應用於IC/DRAM/Bumping製程中光阻剝離液，並與國內外供應商，技術配合開發客製化商品，以達客戶製程良率穩定。
  .row.reverse
    .col-sm-3.col-xs-12.icon
      span.svg(style="background:url("+url+"prod-icon-2.svg); width: 100px; height: 100px;")
      figcaption 平面液晶顯示器
    .col-sm-9.col-xs-12.text
      .row
        .col-sm-5.col-xs-12.title
          p 光阻稀釋液/Thinner
        .col-sm-7.col-xs-12.info
          p 應用於彩色光阻劑配方生產(Photo Resist) CF/Array/TP 製程中光阻洗邊液，主要化學品以PGME/PGMEA/Anone/nBAC/EEP為基礎溶劑
      .row
        .col-sm-5.col-xs-12.title
          p 光阻剝離液/Stripper
        .col-sm-7.col-xs-12.info
          p 應用於Array 製程薄膜電晶體之電極基板上去除光阻之化學溶劑，主要化學品以BDG/DMSO/NMP/MEA為基礎溶劑
      .row
        .col-sm-5.col-xs-12.title
          p 玻璃清洗液/Glass Detergent
        .col-sm-7.col-xs-12.info
          p 應用於玻璃面板/觸控面板產業製作前玻璃清洗製程使用
  .row
    .col-sm-3.col-xs-12.icon
      span.svg(style="background:url("+url+"prod-icon-3.svg); width: 100px; height: 100px;")
      figcaption 發光二極體
    .col-sm-9.col-xs-12.text
      p 因應先進開發國家節約能源與環保意識抬頭，進而發展耗能較低的白光發光二極體做為未來照明技術發展核心，以減少近年來因能源開發所造成與日俱增的二氧化碳排放量對環境的傷害與影響。 
      p 有鑒於此，歐普仕於2010年開始與業界先驅共同開發發光二極體所需之光阻稀釋液及光阻剝離液應用配方，為環境與產業盡一份心力。 
  .row.reverse
    .col-sm-3.col-xs-12.icon
      span.svg(style="background:url("+url+"prod-icon-4.svg); width: 100px; height: 100px;")
      figcaption 其他
    .col-sm-9.col-xs-12.text
      p 歐普仕擁有專業的電子級化學品生產技術，可代工相關業界所應用之各項化學品純化與配方混合。
