- var url = '/images/'

.page.container-fluid.page-title
  .row
    .col-xs-12
      .module-title
        h4 經營理念
        h5 ABOUT US

.page.container-fluid.rules
  .row
    .col-xs-12
      ul.list-inline
        li
          .content
            span.svg(style="background:url("+url+"rule-1.svg); width: 40px; height: 40px;")
            span 安全
        li
          .content
            span.svg(style="background:url("+url+"rule-2.svg); width: 40px; height: 40px;")
            span 衛生
        li
          .content
            span.svg(style="background:url("+url+"rule-3.svg); width: 40px; height: 40px;")
            span 節能
        li
          .content
            span.svg(style="background:url("+url+"rule-4.svg); width: 40px; height: 40px;")
            span 保護

  .row
    .col-sm-6.col-xs-12.img
      img.img-responsive.center-block(src=url + "rules.jpg", alt="")
    .col-sm-6.col-xs-12.text
      p 歐普仕化學科技以生產高科技化學品為主，為求與環境共存共榮，不斷精進製程、維護工業安全與衛生、降低能源消耗，講求資源回收再利用，以減輕環境負荷。並致力於汙染防制、減廢節能、符合法規以達保護環境之目的。嚴格要求品質，提供讓顧客滿意之產品與服務，達到工安事件零缺點，並持續改善，達成以上承諾。