- var url = '/ezfiles/814/1814/img/864/'

// 公司介紹
.page.container-fluid.page-title#section-1
  .row
    .col-xs-12
      h4.title.text-center 董事長的話

.page.container-fluid.master
  .row.reverse
    .col-sm-8.col-xs-12.text
      h4.title 董事長 秦嘉鴻先生
      p 宇越生醫成立於2015年，秉持著「專業、誠信、品質」的理念，以嵌合抗原受體 T細胞(Chimeric Antigen Receptor T Cell, CAR-T)技術為核心，致力於癌症新藥開發，以科學為基礎、不斷的創新研發，促進人類的健康。宇越開發的產品以基因改造之細胞藥物為主力，建立了相關從載體設計、開發、製造到臨床試驗的整個技術平台，致力於基因改造之細胞藥物T於血液腫瘤與其他實體腫瘤等各種癌症治療之新藥開發。宇越生醫目標將研發成果落實於實際臨床應用，以人體自然的免疫機制來對抗癌症，在癌症治療上創造重大突破，競爭於國際。
    .col-sm-4.col-xs-12.img
      img.img-responsive(src=url + "aboutus.png", alt="")

.page.container-fluid.master.team
  .row.reverse
    .col-sm-8.col-xs-12.text
      h4.title 運營團隊
      p 本公司的運營團隊目前以藥品生產製造人才為主，臨床醫學研究人才為輔，佐以資深專業之財務規劃人員。
    .col-sm-4.col-xs-12.img
      img.img-responsive(src=url + "aboutus.png", alt="")

.page.container-fluid.page-title#section-2
  .row
    .col-xs-12
      h4.title.text-center 公司治理

.page.container-fluid.main-rule
  .row
    .col-xs-12
      p.text-orange 針對細胞藥物/基因治療新藥開發的策略擬定與計劃執行，並透過合作促使研發資源最大化
  .row.reverse
    .col-sm-6.col-xs-12.img
      p.img
        img.img-responsive.center-block(src=url + "main-rule.png", alt="")
    .col-sm-6.col-xs-12.text
      p 宇越的新藥開發策略是以「產、官、學、醫」共同合作的方式，強化創新研發的能量，在宇越建置的CAR-T核心平台上，加速其他新的細胞治療藥物開發。「產」與上下游相關產業進行合作開發；「官」包括申請政府計畫以及引入基金等，配合政府的政策共同推動；「學」與一流研究機構共同合作開發；「醫」與各醫學中心在臨床以及科研方面的合作。
