- var url = '/ezfiles/814/1814/img/864/'

// 公司介紹
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 聯絡我們

.page.container-fluid.contact
  .row.reverse
    .col-sm-4.col-xs-12.info
      p
        b
          | 如您對於宇越生醫科技股份有限公司有任何疑問
          br
          | 歡迎來電或填寫表單，我們會請專人馬上與您聯繫，謝謝。
      p 地址：新北市汐止區新台五路一段97號6樓之10
      p 電話：
        a(href="tel: 02-2697-2200") 02-2697-2200
      p 傳真：02-2697-2255
    .col-sm-8.col-xs-12.form
      | ===MODULE===