- var url = '/ezfiles/905/1905/img/2528/'

.page.page-title.container-fluid
  .row
    .col-xs-12
      .module-title
        .line 
        span.svg(style="background:url("+url+"title-l.svg); width: 34px; height: 87px;") 
        span.text 聯絡花葳 Contact
        span.svg(style="background:url("+url+"title-r.svg); width: 34px; height: 87px;") 
        .line 

.page.container-fluid.contact
  .row.reverse
    .col-sm-5.col-xs-12.info
      p
        | 如您對於 花葳‧花咖啡
        br
        | 有任何疑問歡迎來電或填寫表單，
        br
        | 我們會請專人馬上與您聯繫，謝謝。
      p 服務專線：
        a(href="tel: 0988-097-380") 0988-097-380
      p 服務時間：週一～週五 上午09:30至下午17:30
      p E-mail：
        a(href="mailto: weiflowercoffee2021@gmail.com") weiflowercoffee2021@gmail.com
      p 地址：基隆市中正區新豐街161巷62號
    .col-sm-7.col-xs-12.form
      | ===MODULE===