- var url = '/images/'

.page.container-fluid.page-title
	.row
		.col-xs-12
			.module-title
				h4 聯絡我們
				h5 ABOUT US

.page.container-fluid.contact
	.row
		.col-sm-6.col-xs-12#form
			.form-group
				label 姓名
				input#name(type="text" placeholder="姓名" v-model="name")
			.form-group
				label 性別  
				.options
					label.radio-inline
						input(type="radio" v-model="date" value="男" name="男" checked)
						| 男
					label.radio-inline
						input(type="radio" v-model="date" value="女" name="女")
						| 女
			.form-group
				label E-mail
				input#mail(type="text" placeholder="E-mail" v-model="mail")
			.form-group
				label 電話
				input#tel(type="number" placeholder="電話" v-model="phone")
			.form-group
				label 留言
				textarea#textarea(type="number" placeholder="留言" v-model="textarea") 留言
			.form-group
				button.btn(type="button" @click="submit") 送出
		.col-sm-6.col-xs-12.info
			.content
					p
						span.svg(style="background:url("+url+"foot-icon.svg); width: 12px; height: 12px;")
						| 總公司
					table
						tr
							td 公司地址：
							td 110台北市忠孝東路五段510號25樓
						tr
							td 公司電話：
							td
								a(href="tel: +886-2-27598522") +886-2-27598522
						tr
							td 公司傳真：
							td +886-2-27598519
			.content
				p 
					span.svg(style="background:url("+url+"foot-icon.svg); width: 12px; height: 12px;")
					| 雲林工廠
				table
					tr
						td 公司地址：
						td 640雲林縣斗六市雲科路三段112號
					tr
						td 公司電話：
						td
							a(href="tel: +886-5-5519029")  +886-5-5519029(代表號)
					tr
						td 公司傳真：
						td +886-5-5510069
	.row
		.col-sm-12.col-xs-12.text
			h4 利害相關人檢舉申訴管道
			p 歐普仕化學科技股份有限公司(以下簡稱本公司)為推動公司治理，以發展永續環境、維護社會公益及落實企業社會責任政策，並同時維護利害關係人(包含但不限於供應商、消費者、投資關係人、股東或客戶)之權益及促進與利害關係人之溝通，當您發現本公司人員有涉嫌舞弊、貪污、違反本公司「從業人員道德行為準則」、「公司治理相關規範」或「任何不法行為之情事」時，可依循下列申訴管道告知本公司。本公司將依照內部規範及程序予以妥善之處理。
			p 員工若發生對公司制度、工作環境、員工福利或強迫(強制)勞動、歧視、騷擾等不合理情事，均可具名或匿名透過以下申訴管道舉報 ; 外部利害關係人亦可透過如下管道與我們聯繫，公司承諾保密原則並杜絕報復行動。
			br
			p 內部員工性騷擾申訴或懲戒申訴管道：
				a(href="mailto: mis@opals.com.tw") mis@opals.com.tw
			p 外部關係人申訴或從業道德舉報管道：
				a(href="mailto: appeal@opals.com.tw") appeal@opals.com.tw
			p 廠區員工亦可透過實體意見信提供建議 (1F信箱區)
