- var url = '/ezfiles/909/1909/img/2654/'

.page-title
  .module-title
    h3 客戶服務
    h4 聯絡我們

.page.container-fluid.contact
  .row
    .col-sm-6.col-xs-12.info
      <ul class="text-list">
        <li>
          <a href="tel: (02) 2701-2988 "><span class="svg" style="background: url(/ezfiles/909/1909/img/2654/foot-contact-icon-gery-1.svg); width: 20px; height: 20px;"></span>(02) 2701-2988 </a>
        </li>
        <li>
          <a href="mailto: service@innoci.tw"><span class="svg" style="background: url(/ezfiles/909/1909/img/2654/foot-contact-icon-gery-2.svg); width: 20px; height: 20px;"></span>service@innoci.tw</a>
        </li>
        <li><span class="svg" style="background: url(/ezfiles/909/1909/img/2654/foot-contact-icon-gery-3.svg); width: 20px; height: 20px;"></span>台北市大安區復興南路二段237號13樓</li>
        <li><span class="svg" style="background: url(/ezfiles/909/1909/img/2654/foot-contact-icon-gery-4.svg); width: 20px; height: 20px;"></span>09:00-18:00</li>
      </ul>
      <ul class="social list-inline">
        <li><a class="svg" href="https://line.me/R/ti/p/%40175qavjz" target="_blank" style="background: url(/ezfiles/909/1909/img/2654/foot-icon-1.svg); width: 40px; height: 40px;"></a></li>
        <li><a class="svg" href="https://www.facebook.com/Innoci.Taiwan/" target="_blank" style="background: url(/ezfiles/909/1909/img/2654/foot-icon-2.svg); width: 40px; height: 40px;"></a></li>
        <li><a class="svg" href="" style="background: url(/ezfiles/909/1909/img/2654/foot-icon-3.svg); width: 40px; height: 40px;"></a></li>
        <li><a class="svg" href="" style="background: url(/ezfiles/909/1909/img/2654/foot-icon-4.svg); width: 40px; height: 40px;"></a></li>
        <li><a class="svg" href="" style="background: url(/ezfiles/909/1909/img/2654/foot-icon-5.svg); width: 40px; height: 40px;"></a></li>
      </ul>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.2412775517932!2d121.5414835150061!3d25.025884683976198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa2c1e6fdbc7%3A0x6c10f761d04d31cd!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A5b6p6IiI5Y2X6Lev5LqM5q61MjM36Jmf!5e0!3m2!1szh-TW!2stw!4v1638276061566!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    .col-sm-6.col-xs-12.append-form.form