- var url = '/ezfiles/814/1814/img/864/'

// 公司介紹
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 臨床試驗進度
      //- h5.sub-title （Chimeric Antigen Receptor –T )嵌合抗原受體 T細胞

.page.container-fluid.schedule
  .row
    .col-xs-12
      .content.table-responsive
        table.table
          thead
            tr
              th Pipeline
              th Indication
              th Region
              th CAR engineering
              th Pre-clinical
              th Phase I
              th Phase II/ III
          tbody
            tr
              td
                | UBP-3001
                br
                | (UWC19)
              td
                | B cell
                br
                | malignancies
              td China
              //- Line content
              td.line-full
              td.line-full.end-right
                span.line-text First in human
              td
              td
            tr
              td
                | UBP-3002
                br
                | (UWC19)
              td
                | Non-Hodgkin
                br
                | lymphoma
              td Taiwan
              //- Line content
              td.line-full
              td.line-full
              td.end-left
              td
            tr
              td
                | UBP-3003
                br
                | (UWC19)
              td
                | B cell
                br
                | malignancies
              td Malaysia
              //- Line content
              td.line-full
              td.line-full.end-right
              td
              td
            tr
              td
                | UBP-3004
                br
                | (UWC19)
              td
                | Lymphoblastic
                br
                | leukemia
              td Taiwan
              //- Line content
              td.line-full
              td.line-full.end-right
              td
              td
            tr
              td
                | UBP-3005
                br
                | (UWC19)
              td
                | Non-Hodgkin
                br
                | lymphoma
              td China
              //- Line content
              td.line-full
              td.line-full.end-right
              td
              td
            tr
              td
                | UBP-Her2-CART
                br
                | (UWHer2T)
              td Solid tumour
              td Taiwan
              //- Line content
              td.line-full
              td.end-left
              td
              td
            tr
              td
                | UBP-alloNK-19
                br
                | (UWC19-aNK)
              td
                | B cell 
                br
                | malignancies 
              td Taiwan
              //- Line content
              td.line-full
              td.end-left
              td
              td
            tr
              td UBP-alloNK-Her2
              td Solid tumour
              td Taiwan
              //- Line content
              td.line-full
              td.end-left
              td
              td
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 臨床試驗招募
      h5.sub-title 臨床試驗受試者招募

.page.container-fluid.schedule
  .row
    .col-xs-12
      .content
        p.title
          b 概況
        p 宇越生醫科技正展開一項開放、單中心Ⅰ期臨床試驗，評估抗CD19自體CAR T細胞注射液在復發/難治非霍奇金B細胞淋巴瘤（R/R B-NHL）患者中的安全性和有效性。這項研究已獲得三軍總醫院人體試驗委員會以及衛生福利部的許可。
      .content
        p.title
          b 試驗名稱：
        p 一項開放性、劑量遞增第一期臨床試驗用以評估Welgenaleucel (UWC19)對復發或難治B細胞非霍奇金淋巴瘤病患之安全性與耐受性

.page.container-fluid.page-title
  .row
    .col-xs-12
      //- h4.title.text-center 臨床試驗招募
      h5.sub-title 收案條件
.page.container-fluid.schedule
  .row
    .col-xs-12
      .content
        p.title
          b 納入條件:
        ul.styled
          li 復發或難治之B細胞非霍奇金淋巴瘤患者。
          li 淋巴瘤為CD19陽性。
          li 年滿20歲，且小於70歲(含70)。
          li 無嚴重心、肺、肝、腎疾病。
          li 無人類免疫缺陷病毒、人類嗜Ｔ淋巴細胞病毒、梅毒等感染。
      .content
        p.title
          b 排除條件:
        ul.styled
          li 接受過異體造血幹細胞移植。
          li 體重未滿30公斤。
          li 哺乳或懷孕中。
          li 曾經或正在感染B型肝炎或C型肝炎病毒。
          li 過去曾參與過其他基因治療的研究或過去28天內曾參與過其他體細胞治療
          li 患有自體免疫疾病。

.page.container-fluid.page-title
  .row
    .col-xs-12
      //- h4.title.text-center 臨床試驗招募
      h5.sub-title 聯絡方式
.page.container-fluid.schedule.contact
  .row
    .col-xs-12
      .content
        p.title
          b 執行單位
        p 三軍總醫院 內科部血液腫瘤科
        p 地址: 台北市內湖區成功路二段325號
      .content
        p.title
          b 計畫主持人
        p 何景良 醫師
          a(href="tel:02-8792-3311") (聯絡方式: 02-8792-3311#88064)
      .content
        p.title
          b 委託單位
        p 宇越生醫科技股份有限公司/正昌容生技有限公司 