- var url = '/ezfiles/814/1814/img/864/'

// 公司介紹
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 血液性疾病 

.page.container-fluid.disease
  .row
    .col-xs-12
      .content
        p.title
          b 認識惡性淋巴瘤
        p 惡性淋巴瘤又稱淋巴癌，是源發自淋巴組織內淋巴球的一種惡性腫瘤，當淋巴組織內（包括淋巴結以及淋巴結外的其他淋巴組織）的淋巴球發生癌變，便會開始過度增殖並破壞器官的功能。惡性淋巴瘤可能發生在各年齡層之淋巴結或身體的任何器官。惡性淋巴瘤病理上分兩種，即非何傑金氏淋巴瘤(NHL non Hodgkins lymhpoma)與何傑金氏症(HD, Hodgkins disease)。兩者的差別在於病理型態學的不同以及臨床表現的差異。何傑金氏症，前者好發於15~40歲青年，非何傑金氏淋巴瘤後者好發於中老年人。目前看來全世界的惡性淋巴瘤有逐年上升的趨勢，罹病率仍逐年增加。西方人何傑金氏症較普通，預後比較好，而東方人則非何傑金氏淋巴瘤比較多, 約為何傑金氏症的九倍。而非何傑金氏淋巴瘤之中僅少數是T細胞或NK-T細胞，約85-90%以上是B細胞，其中又以瀰漫性大B細胞淋巴癌為最多。台灣以非何傑金氏淋巴癌較為常見，非何傑金氏病與何傑金氏症比例約為13：1。根據民國105年癌症登記顯示，當年被新診斷為非何傑金氏淋巴癌有2,472人，B 細胞約 85%，T 細胞約 15%。臨床上依據淋巴瘤免疫、形態、分子生物及臨床特徵之類別大略區分為緩和性及侵略性兩大類型。緩和性非何傑金氏淋巴瘤，也稱為低惡性度淋巴瘤，生長及分裂緩慢，初次診斷常為晚期但症狀輕微，後期常發生細胞的轉變而急速惡化；一般有6-10年以上之存活期。侵略性非何傑金氏淋巴瘤，也稱為中惡性度和高惡性度淋巴瘤，生長及分裂快速且易引發嚴重的症狀，若未經治療只有6個月至2年之壽命，但積極治療則可達5年之緩解期；而30%至40%之患者可能痊癒。
        p 非何傑金氏淋巴瘤治療上，大部分以化學治療為主合併免疫療法、放射線治療或以手術增加治癒率。惡性度較低以及屬於第一、二期局部淋巴癌的病人，適合做放射線治療。對於巨大腫瘤或淋巴結外淋巴瘤，考慮給予混合放射治療及化學治療。其他例如高劑量化學治療以及骨髓或周邊血幹細胞移植對於化學治療後、再復發的病患而言，提供了治療的一線希望，對於進展緩慢的淋巴瘤，醫師可能會決定等到症狀出現後再開始治療。近年來因為對淋巴細胞的生物特性有更進一步的瞭解，使得淋巴瘤的標靶治療有更多的發展。生物製劑療法也稱免疫療法，因為90% 的非何傑金氏淋巴瘤B淋巴細胞上會有CD20表面抗原，最新發展出之抗CD20的單株抗體Rituxan，是利用與抗原CD20結合，引起補體依賴細胞毒殺作用及抗體依賴細胞毒殺作用等免疫反應，達到消滅淋巴瘤細胞的目的。此一免疫療法臨床效益佳、副作用小，大多數人耐受性高，即使再次復發後再次接受治療的效果也可達到百分之四十。除了anti-CD20單株抗體之外，調控其他路徑的新藥，如經由蛋白質體(Proteasome)調控蛋白質的分解、影響mTOR、BTK、PI3K路徑、調節細胞週期中止與凋亡、抗血管新生或藉由抑制免疫受體的機制，加強免疫系統消滅癌細胞的能力，以及新的標靶藥物等，也在開發之列。
      .content
        p.title
          b CAR-T治療復發或難治B細胞淋巴瘤
        p 最新的免疫細胞治療方法:嵌合抗原受體T細胞療法(Chimeric antigen receptor T-cell therapy; CAR-T cell therapy)，其原理是將人體免疫系統的T細胞，用生物技術把會辨識癌細胞表面CD19抗原的CAR基因插入T細胞內，改造成CAR-T細胞來對付癌症。臨床研究顯示CAR-T能夠完全取除癌細胞，如白血病，其原因在於它是一種「精準」的「活性藥物」，藉由載上「雷達」，CAR-T能夠更加準確地識別和殺傷腫瘤細胞，此外，傳統的藥物作用於人體後會被肝腎代謝排除，不會在體內長期存在，而CAR-T在消滅腫瘤之後，它們還會在人體內安靜地潛伏下來，像敏銳的長期哨兵，是可持續巡邏全身的「活」系統，防止疾病的復發。NCCN 指引(NCCN guidelines) 係為全世界所公認的癌症臨床治療標準，已將抗CD19嵌合抗原受體T細胞療法列入2018最新版中對於頑固/復發B細胞非何傑金氏淋巴瘤第一線治療指引的治療建議。