- var url = '/ezfiles/905/1905/img/2528/'

.page.page-title.container-fluid
  .row
    .col-xs-12
      .module-title
        .line 
        span.svg(style="background:url("+url+"title-l.svg); width: 34px; height: 87px;") 
        span.text 關於花葳 About
        span.svg(style="background:url("+url+"title-r.svg); width: 34px; height: 87px;") 
        .line 

.page.about.container-fluid
  .row
    .col-sm-5.col-xs-12.img
      img.img-responsive(src=url + "aboutus.jpg", alt="")
    .col-sm-7.col-xs-12.text
      p 我們想把花茶結合咖啡的創新發想，期望讓現今忙碌的社會大眾及喜愛咖啡的您，感受到濾掛咖啡更有趣的變化！我們的新創意動顛覆您對咖啡、對花茶的既定印象及記憶味蕾，提供多款創意濾掛花咖啡，讓咖啡不再只是咖啡；花茶也不再只是花茶！我們秉持著勇於革新的思維與嚴謹的研究精神，用花茶融合咖啡的華麗演繹，敲響您獨特的生活品味，讓花葳 · 花咖啡帶領您體驗全新的咖啡生活吧 ! 
  .row
    .col-sm-7.col-xs-12.map
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3611.926812355283!2d121.78751531500832!3d25.138165083923635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x345d4f9f3936f3bb%3A0x640f0a6cdf6dc5ca!2zMjAy5Z-66ZqG5biC5Lit5q2j5Y2A5paw6LGQ6KGXMTYx5be3NjLomZ8!5e0!3m2!1szh-TW!2stw!4v1634964902769!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    .col-sm-5.col-xs-12.map-info
      p 一太企業社 
      p 花葳國際股份有限公司
      p 統編 : 87538339
      p 電話 : 
        a(href="tel: 0988097380") 0988097380
      p 地址 : 202 基隆市中正區新豐街161巷62號
      p Email : 
        a(href="mailto: weiflowercoffee2021@gmail.com") weiflowercoffee2021@gmail.com
      p 網址 : 
      p LINE : 
      p Facebook : 花葳•花咖啡
      p 蝦皮 :　