- var url = '/ezfiles/814/1814/img/864/'

// 公司介紹
.page.container-fluid.page-title#section-1
  .row
    .col-xs-12
      h4.title.text-center 公司介紹

.page.container-fluid.aboutus
  .row
    .col-sm-6.col-xs-12.text
      h4.title 公司介紹
      p 宇越生醫成立於2015年，秉持著「專業、誠信、品質」的理念，以嵌合抗原受體 T細胞(Chimeric Antigen Receptor T Cell, CAR-T)技術為核心，致力於癌症新藥開發，以科學為基礎、不斷的創新研發，促進人類的健康。宇越開發的產品以基因改造之細胞藥物為主力，建立了相關從載體設計、開發、製造到臨床試驗的整個技術平台，致力於基因改造之細胞藥物T於血液腫瘤與其他實體腫瘤等各種癌症治療之新藥開發。宇越生醫目標將研發成果落實於實際臨床應用，以人體自然的免疫機制來對抗癌症，在癌症治療上創造重大突破，競爭於國際。
    .col-sm-6.col-xs-12.img
      img.img-responsive(src=url + "aboutus.png", alt="")

.page.container-fluid.page-title#section-2
  .row
    .col-xs-12
      h4.title.text-center 宇越生醫科技股份有限公司
      h5.sub-title 組織架構圖

.page.container-fluid.organize
  .row
    .col-xs-12.img
      img.img-responsive(src=url + "organize.png", alt="")