- var url = '/ezfiles/843/1843/img/1309/'

.page.container-fluid.module-title
  .row
    .col-xs-12.module-title
      h4.title 關於我們
      h4.sub-title About Us

.page.container-fluid.story.section-1#section-1
  .row.reverse
    .col-sm-7.col-xs-12.img(data-aos="fade-right" data-aos-duration="1500")
      img.img-responsive(src=url+"aboutus-1.jpg", alt="")
    .col-sm-7.col-xs-12.text(data-aos="fade-up" data-aos-duration="1500")
      .content(data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300")
        h4.content-title 品牌故事:
        p
          | 原來家具不是只要堅固耐用就好了-----而是符合人性
          br
          | 這是我們做工廠廿年來的心得。
        p
          | 從批發到自營品牌門市
          br
          | 唯有把顧客的需求放到最大、才能讓每組客戶提升居家生活品質
          br
          | 完整的客製化流程造就這些年來客戶的黏著度。
        p
          | 不同的個性不同的喜好，有不同的期待，
          br
          | 一張張手繪出來的圖面讓客戶想像出新家裡會有的溫度。
        p
          | 我們的故事
          br
          | 由每一張沙發、每一張床墊，在你/妳家開始。

.page.container-fluid.story.section-2#section-2
  .row
    .col-sm-7.col-xs-12.img(data-aos="fade-left" data-aos-duration="1500")
      img.img-responsive(src=url+"aboutus-2.jpg", alt="")
    .col-sm-7.col-xs-12.text(data-aos="fade-up" data-aos-duration="1500")
      .content(data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300")
        h4.content-title 公司簡介:
        p
          | 北極熊分為主題兩館
          br
          | 原木自然館主-打自然原木，以印尼柚木為主軸，充滿自然氣息、厚實風格的簡約設計，襯托出原木的自然之美。當然一進門就是迎面而來的原木香氣。歡迎貴賓來店體驗原木館的天然芬多精傢俱之美！
        p
          | 現代精品館-有各國名牌沙發、床組原裝復刻版、工業風格鐵腳與原木無拼接板面的絕美組合、各式精緻的寢具床墊。來本館絕對能給有品味的您滿意的產品。
        p
          | 另外我們提供的服務有：
          ol
            li 室內裝修設計:專業的室內設計師替您操刀設計，各式風格
            li 傢俱量身訂做:煩惱市面上現成傢俱與家中空間不合? 交給我們，我們能依照你家中或您喜愛的風格量身訂做
            li 傢俱設計:我們有專業的傢俱設計師，為喜愛獨一無二的貴賓您設計您居家風格專屬的特色傢俱
            li 優質的服務:親切的服務態度、以及專業的知識也是我們的服務之一。床墊的寢具我們將會依照每個人不同的身高、體重、睡眠習慣、身體狀況、工作型態....等等的。找到真正屬於每一位顧客適合的床墊，而不是越貴的床墊就越好。

.page.container-fluid.story.section-3#section-3
  .row.reverse
    .col-sm-7.col-xs-12.img(data-aos="fade-right" data-aos-duration="1500")
      img.img-responsive(src=url+"aboutus-1.jpg", alt="")
    .col-sm-7.col-xs-12.text(data-aos="fade-up" data-aos-duration="1500")
      .content(data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300")
        h4.content-title 經營理念:
        p 2009年已經經營家具批發工廠長達15年的創辦人，發覺許多家具店並無任何的實體標價，或是所標的價位都是天價再打高額的折扣，讓客戶有賺到了的錯覺。
        p 
          | 因為沒有明確的報價，彷彿都在考驗買家的刀工一樣，「看你能殺多少」
          br
          | 創辦人因此希望設立一個價格透明且清晰，買東西可以不用這麼累的家具公司。
        p
          | 北極熊傢俱主打自產自銷，不需要經過多手的利潤差，用工廠價直接面對消費者!
          br
          | 或許我們家做的不是最便宜的，但材質用料上我們絕不馬虎，
          br
          | 那怕只為了讓產品更耐用幾年，我們也願意用更好更優質的材料。
        p
          | 我們相信，
          br
          | 如湧泉般的客源不是因為豪砸廣告費，而是長年來的服務與實在的產品
          br
          | 是客戶一傳十，十傳百所逐漸建立起的招牌