- var url = '/images/'

.page.container-fluid.abouts-navs
  .row
    .col-xs-12
      ul.nav.nav-tabs
        li
          a(href="") 關於我們
        li
          a(href="") 經營理念
        li
          a(href="") 歷史沿革

.page.container-fluid.page-title
  .row
    .col-xs-12
      .module-title
        h4 關於我們
        h5 ABOUT US

.page.container-fluid.aboutus
  .row
    .col-sm-6.col-xs-12.img
      img.img-responsive.center-block(src=url + "aboutus-1.jpg", alt="")
    .col-sm-6.col-xs-12.text
      p 歐普仕化學科技股份有限公司於2003年正式成立。
        br
        | 有鑑於電子化學品種類繁多，主要客戶分散於新竹、台中、台南等科技工業園區，為提供客戶及時與就近服務。同年9月份選定雲林科技工業區，動工興建專業溶劑生產工廠；並於2004年6月底完成試車，7月起正式量產，提供半導體及光電相關產業製程所需之高純度溶劑。
  .row.reverse
    .col-sm-6.col-xs-12.img
      img.img-responsive.center-block(src=url + "aboutus-2.jpg", alt="")
    .col-sm-6.col-xs-12.text
      p
        | 近年來油價持續飆漲及環保意識日漸抬頭，減廢、回收、再利用成為企業取得綠色產品標章的必要條件。隨著國內電子產業日益蓬勃發展，使得大量製程使用後之溶劑類化學品缺乏專業地回收再利用管道；因此，歐普仕化學科技抱著資源地球、節能減廢之信件，著手研發各類電子溶劑之回收純化技術，以提供相關業界製程再利用。
        br
        | 隨著客戶產品的精密度日趨嚴格，本公司除了不斷自我要求提升產品品質之外，也與美國、日本、台灣、德國等原廠合作開發下一代製程所需溶劑及清洗用產品，希望藉由凝聚各國的研發實力加上在地化的生產彈性，協助提升半導體及光電等相關高科技產業客戶之國際競爭力。 