- var url = '/ezfiles/777/1777/img/338/'

footer.foot
	a.svg.gotop(style="background:url("+url+"gotop.svg); width: 50px; height: 50px;")
	.row
		.col-sm-4.col-xs-12.title-content
			.module-title
				.content
					h3 聯絡我們
					h4 CONTACT US
		.col-sm-4.col-xs-12.info
			p
				b 康元興業有限公司　
			p
				span.svg(style="background:url("+url+"foot-icon-1.svg); width: 20px; height: 20px;")
				a(href="tel: 02-8292-5666　") 02-8292-5666　
			p
				span.svg(style="background:url("+url+"foot-icon-2.svg); width: 20px; height: 20px;")
				| 02-2292-5777
			p
				span.svg(style="background:url("+url+"foot-icon-3.svg); width: 20px; height: 20px;")
				a(href="mailto: llleslin@gmail.com") llleslin@gmail.com
		.col-sm-4.col-xs-12.map
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14455.218580420435!2d121.4609691!3d25.0746096!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xef33d9d8bc652d3!2z5bq35YWD6IiI5qWt5pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1641906979633!5m2!1szh-TW!2stw" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


.design.container-fluid
	.row
		.col-xs-12
			p.text-center
				span 版權所有 © 2021 KANG YUAN CORPORATION LTD.
				span All Rights Reserved. 
				a(href="http://www.e-creation.com.tw" target="_blank") Design by 藝創媒體