- var url = '/ezfiles/843/1843/img/1309/'

footer.foot
	.row
		.col-xs-12.module-title
			h4.title 聯絡我們
			h4.sub-title Contact Us
	.row(style="background:url("+url+"foot-bg.png);")
		.col-sm-6.col-xs-12.info
			.row
				.col-sm-6.col-xs-12
					ul
						li
							span.svg(style="background:url("+url+"foot-info-icon-1.svg); width: 16px; height: 16px;")
							| 客服專線：
							a(href="tel: 02-26088123") 02-26088123
						li
							span.svg(style="background:url("+url+"foot-info-icon-2.svg); width: 16px; height: 16px;")
							| 地址：新北市林口區仁愛路二段371號
				.col-sm-6.col-xs-12
					ul
						li
							span.svg(style="background:url("+url+"foot-info-icon-3.svg); width: 16px; height: 16px;")
							| LINE ID：@polarbearfurniture 
						li
							span.svg(style="background:url("+url+"foot-info-icon-4.svg); width: 16px; height: 16px;")
							| 客服信箱：
							a(href="mailto: gipingli@gmail.com") gipingli@gmail.com
				.col-sm-6.col-xs-12.text-right.social
					ul.list-inline
						li
							a.svg(href="mailto: gipingli@gmail.com" style="background:url("+url+"foot-social-1.svg); width: 33px; height: 33px;")
						li
							a.svg(href="https://www.facebook.com/polarbear.tw.furniturev" style="background:url("+url+"foot-social-2.svg); width: 33px; height: 33px;" target="_blank")
						li
							a.svg(href="https://line.me/ti/p/@polarbearfurniture" style="background:url("+url+"foot-social-3.svg); width: 33px; height: 33px;" target="_blank")
		.col-sm-6.col-xs-12.map
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.66021257178!2d121.36822361500714!3d25.07950328395102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a6db9b79c52d%3A0x3758799d08e18c49!2zMjQ05paw5YyX5biC5p6X5Y-j5Y2A5LuB5oSb6Lev5LqM5q61Mzcx6Jmf!5e0!3m2!1szh-TW!2stw!4v1605541110374!5m2!1szh-TW!2stw" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


//- .design
//- 	.row
//- 		.col-xs-12
//- 			p.text-center
//- 				span Copyright © e.b.t. Liquid Encapsulant All Rights Reserved. 
//- 				a(href="http://www.e-creation.com.tw" target="_blank") Design By 藝創媒體
		//- .col-xs-12
		//- 	h4.title 聯絡我們
		//- 	h5.sub-title CONTACT US
		//- 	span.svg(style="background:url("+url+"footer-line.svg); width: 591px; height: 10px;")
		//- .info
		//- 	p
		//- 		| 電話：
		//- 		a(href="tel: 02-77381010") 02-77381010
		//- 	p
		//- 		| Email：
		//- 		a(href="mailto: yinhuo88@gmail.com") yinhuo88@gmail.com
		//- .info
		//- 	p 傳真：02-27210611
		//- 	p
		//- 		| 地址：台北市松山區敦化南路一段102號12樓之2
		//- 		span.social
		//- 			a.svg(href="#" style="background:url("+url+"line.svg); width: 33px; height: 33px;")
		//- 			a.svg(href="https://www.instagram.com/holidayyinhuo/" target="_blank" style="background:url("+url+"ig.svg); width: 33px; height: 33px;")
	//- .row.map
	//- 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d596.1938286978766!2d121.54819342115638!3d25.046184514643514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abc35519d579%3A0x44175350f2a6bcec!2zMTA15Y-w5YyX5biC5p2-5bGx5Y2A5pWm5YyW5Y2X6Lev5LiA5q61MTAy6Jmf!5e0!3m2!1szh-TW!2stw!4v1576587693716!5m2!1szh-TW!2stw" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		//- .col-sm-6.col-xs-12.map
		//- 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.3576904404335!2d121.4651783150053!3d24.98795898399385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346802bfcb825737%3A0xdbd657f2a9059440!2zMjM25paw5YyX5biC5Zyf5Z-O5Y2A6YeR5Z-O6Lev5LiJ5q61MTAx5be3MuiZnw!5e0!3m2!1szh-TW!2stw!4v1568216416857!5m2!1szh-TW!2stw" width="100%" height="243" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		//- 	p.text-right
		//- 		a(href="http://www.e-creation.com.tw" target="_blank") Design by 藝創媒體
			

			//- p.text-white
			//- 	| E-mail: 
			//- 	a(href="mailto: chiuh.chien@msa.hinet.net") chiuh.chien@msa.hinet.net
			//- p.text-white
			//- 	| 地址：新北市三重區重安街117號1樓 
			//- p.text-white
			//- 	| Copyright © 勗健股份有限公司 Taiwan Products,B2BManufactures,B2BChinaSource
		//- .col-xs-12.designBy.bg-grey
		//- 	p.text-center
		//- 		span 2007© 陸信五膠金業有限公司
		//- 		span 版權所有
		//- 		span Copyright All Rights Reserved.
		//- 		a.pull-right.text-blue(href="http://www.e-creation.com.tw" target="_blank") Design by 藝創媒體


.design.container-fluid
	.row
		.col-xs-12
			p.text-center
				span COPYRIGHT © 2015.POLAR BEAR ALL RIGHTS RESERVED  
				span 現代沙發,復刻沙發,北歐風沙發訂製
				a(href="http://www.e-creation.com.tw" target="_blank") Desgin by 藝創媒體