- var url = '/ezfiles/912/1912/img/2680/'

footer.foot
	.row
		.col-xs-12.banner
			img.img-responsive.center-block(src=url + "foot-img.png", alt="")
	.row.info
		.col-sm-6.col-xs-12
			.module-title
				h3 聯絡我們
				h4 CONTACT US
		.col-sm-2.col-xs-12.logo
			span.svg(style="background:url("+url+"foot-logo.svg); width: 78px; height: 47px;")
		.col-sm-4.col-xs-12.info
			p
				span.svg(style="background:url("+url+"foot-icon-1.svg); width: 20px; height: 20px;")
				| 客服時間: 09:00-17:30

			p
				span.svg(style="background:url("+url+"foot-icon-2.svg); width: 20px; height: 20px;")
				| 電話:
				a(href="tel: 02-2311-9933 #8805") 02-2311-9933 #8805
			p
				span.svg(style="background:url("+url+"foot-icon-3.svg); width: 20px; height: 20px;")
				| 地址: 台北市中山區遼寧街179號20樓

.design.container-fluid
	.row
		.col-xs-12
			p.text-center
				span Copyright © 2021 東居股份有限公司 
				span All rights reserved.
				a(href="http://www.e-creation.com.tw" target="_blank") Design by 藝創媒體