- var url = '/images/'

footer.foot
	.row
		.col-sm-4.col-xs-12.logo
			span.svg(style="background:url("+url+"foot-logo.svg); width: 326px; height: 49px;")
		.col-sm-8.col-xs-12.info
			.row
				.col-sm-6.col-xs-12
					p
						span.svg(style="background:url("+url+"foot-icon.svg); width: 12px; height: 12px;")
						| 總公司
					table
						tr
							td 公司地址：
							td 110台北市忠孝東路五段510號25樓
						tr
							td 公司電話：
							td
								a(href="tel: +886-2-27598522") +886-2-27598522
						tr
							td 公司傳真：
							td +886-2-27598519
				.col-sm-6.col-xs-12
					p 
						span.svg(style="background:url("+url+"foot-icon.svg); width: 12px; height: 12px;")
						| 雲林工廠
					table
						tr
							td 公司地址：
							td 640雲林縣斗六市雲科路三段112號
						tr
							td 公司電話：
							td
								a(href="tel: +886-5-5519029")  +886-5-5519029(代表號)
						tr
							td 公司傳真：
							td +886-5-5510069


.design
	.row
		.col-xs-12
			p.text-center
				span Copyright © 2021 歐普仕化學科技股份有限公司
				span All Rights Reserved. 
				a(href="http://www.e-creation.com.tw" target="_blank") Designed by藝創媒體