- var url = '/ezfiles/922/1922/img/3019/'

footer.foot
	.row
		.col-xs-12
			ul.list-inline.text-left
				li
					a.svg(style="background:url("+url+"foot-icon-1.svg); width: 20px; height: 20px;")
				li
					a.svg(style="background:url("+url+"foot-icon-2.svg); width: 20px; height: 20px;") 
				li
					a.svg(style="background:url("+url+"foot-icon-3.svg); width: 20px; height: 20px;") 
				li
					a(href="") 隱私權政策與保密條款
			.design
				p.text-right
					span Copyright © 2021 統一佳佳股份有限公司
					span All rights reserved.

//- .design
//- 	.row
//- 		.col-xs-12
//- 			p.text-center
//- 				span Copyright © 2021 玄武兩棲棧概念館
//- 				span All Rights Reserved. 
//- 				a(href="http://www.e-creation.com.tw" target="_blank") Deisgned by藝創媒體