- var url = '/images/'

footer.foot
	.row
		.col-sm-4.col-xs-12.title-content
			.module-title
				h4 聯絡我們
		.col-sm-4.col-xs-12.info
			p 電話： 
				a(href="tel: 04-887-6896") 04-887-6896
			p 傳真： 04-887-6896
			p E-mail：
				a(href="mailto: huangchi6896@gmail.com") huangchi6896@gmail.com
			p 地址：彰化縣北斗鎮中新路56巷48號
		.col-sm-4.col-xs-12.map
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3648.8694540742786!2d120.53767531498336!3d23.858768984536116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3469354e23ed02ef%3A0xc55ef414fff70942!2zNTIx5b2w5YyW57ij5YyX5paX6Y6u5Lit5paw6LevNTYtMuiZnw!5e0!3m2!1szh-TW!2stw!4v1647950980350!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


.design
	.row
		.social
			a.svg(href="" style="background:url("+url+"foot-icon-1.svg); width: 20px; height: 20px;") 
			a.svg(href="" style="background:url("+url+"foot-icon-2.svg); width: 20px; height: 20px;") 
			a.svg(href="" style="background:url("+url+"foot-icon-3.svg); width: 20px; height: 20px;") 
		.col-xs-12
			p.text-center
				span Copyright © 2022鳳馳企業股份有限公司
				span All rights reserved.
				a(href="http://www.e-creation.com.tw" target="_blank") Designed by 藝創媒體