- var url = '/ezfiles/843/1843/img/1309/'
.right
	a.svg(href="tel: (02)2608-8123" style="background:url("+url+"right-1.svg); width: 40px; height: 40px;")
	a.svg(href="https://line.me/ti/p/@polarbearfurniture" target="_blank" style="background:url("+url+"right-2.svg); width: 40px; height: 40px;")
	a.svg.gotop(href="javascript: void(0);" style="background:url("+url+"right-3.svg); width: 40px; height: 40px;")
	