- var url = '/ezfiles/922/1922/img/3019/'
nav.navbar
	.search.visible-xs
		<form class="formBS" role="search" name="SearchMoForm" method="post" action="/bin/index.php?Plugin=mec&amp;Action=mobile_mecsearch/bin/index.php?Plugin=mec&amp;Action=mobile_mecsearch&amp;Lang=zh-tw">
			<div class="input-group">
				<span class="input-group-btn">
					button.btn.svg(type="submit" style="background:url("+url+"search.svg); width: 15px; height: 15px;")
				</span>
				<input id="sch_key" name="SchKey" type="text" class="form-control" value="" placeholder="Search">
			</div>
		</form>
	//- .user-profile.hidden-xs
	//- 	.lang
	//- 		span.svg(style="background:url("+url+"lang-icon.svg); width: 20px; height: 20px;")
	//- 		a(href="") 繁中
	//- 		a(href="") EN
		//- a.svg(href="" style="background:url("+url+"social-icon-2.svg); width: 20px; height: 20px;") 
		//- a.svg(href="" style="background:url("+url+"social-icon-3.svg); width: 20px; height: 20px;") 
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			// LOGO放置處
			a.navbar-brand.svg(href='/' style="background: url("+url+"logo.svg); width: 122px; height: 40px;")
		#navbar.navbar-collapse.collapse
			//- .user-profile.visible-xs
			//- 	.lang
			//- 		span.svg(style="background:url("+url+"lang-icon.svg); width: 20px; height: 20px;")
			//- 		a(href="") 繁中
			//- 		a(href="") EN
				//- a.svg(href="" style="background:url("+url+"social-icon-2.svg); width: 20px; height: 20px;") 
				//- a.svg(href="" style="background:url("+url+"social-icon-3.svg); width: 20px; height: 20px;") 
			ul.nav.navbar-nav
				li.dropdown(data-aos="fade-in")
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 手部護理
					ul.dropdown-menu(role='menu')
						li
							a(href="") 護手霜
						li
							a(href="") 乾洗手
						li
							a(href="") 潔手露
				li.dropdown(data-aos="fade-in" data-aos-delay="50")
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 身體保養
					ul.dropdown-menu(role='menu')
						li
							a(href="") 潤膚乳
						li
							a(href="") 身體油
				li.dropdown(data-aos="fade-in" data-aos-delay="100")
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 沐浴清潔
					ul.dropdown-menu(role='menu')
						li
							a(href="") 沐浴露
						li
							a(href="") 磨砂沐浴露
				li.dropdown(data-aos="fade-in" data-aos-delay="150")
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 頭髮護理
					ul.dropdown-menu(role='menu')
						li
							a(href="") 洗髮露
						li
							a(href="") 護髮乳
						li
							a(href="") 護髮油
						li
							a(href="") 髮香噴霧
				li.dropdown(data-aos="fade-in" data-aos-delay="200")
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 精緻香氛
					ul.dropdown-menu(role='menu')
						li
							a(href="") 香水
						li
							a(href="") 抗菌噴霧
						li
							a(href="") 室內噴霧
						li
							a(href="") 香氛蠟燭
						li
							a(href="") 擴香
				li.dropdown(data-aos="fade-in" data-aos-delay="250")
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 關於Ksolite
					ul.dropdown-menu(role='menu')
						li
							a(href="") 品牌故事
						li
							a(href="") 核心價值
						li
							a(href="") 明星商品
						li
							a(href="") 精選護膚成分
						li
							a(href="") 銷售據點
				//- li.social(data-aos="fade-in" data-aos-delay="250")
				//- 	a.svg(href="https://www.instagram.com/tortoise16888/" target="_blank" style="background:url("+url+"social-1.svg); width: 20px; height: 20px;") 
				//- 	a.svg(href="https://www.facebook.com/tortoise16888/" target="_blank" style="background:url("+url+"social-2.svg); width: 20px; height: 20px;") 
				li.search.hidden-xs
					<form class="formBS" role="search" name="SearchMoForm" method="post" action="/bin/index.php?Plugin=mec&amp;Action=mobile_mecsearch/bin/index.php?Plugin=mec&amp;Action=mobile_mecsearch&amp;Lang=zh-tw">
						<div class="input-group">
							<span class="input-group-btn">
								button.btn.svg(type="submit" style="background:url("+url+"search.svg); width: 15px; height: 15px;")
							</span>
							<input id="sch_key" name="SchKey" type="text" class="form-control" value="" placeholder="Search">
						</div>
					</form>

			//- 	li.dropdown(data-aos-delay="300", data-aos="fade-in")
			//- 		a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 商品介紹
			//- 		ul.dropdown-menu(role='menu')
			//- 			li
			//- 				a(href="") 浴室家具
			//- 			li
			//- 				a(href="") 馬桶/智能馬桶
			//- 			li
			//- 				a(href="") 面盆
			//- 			li
			//- 				a(href="") 龍頭
			//- 			li
			//- 				a(href="") 浴缸
			//- 			li
			//- 				a(href="") 淋浴系統
			//- 			li
			//- 				a(href="") 配件
			//- 	li.dropdown(data-aos-delay="300", data-aos="fade-in")
			//- 		a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 個案研究
			//- 		ul.dropdown-menu(role='menu')
			//- 			li
			//- 				a(href="") 酒店案例
			//- 			li
			//- 				a(href="") 住宅案例
			//- 			li
			//- 				a(href="") 公共空間
			//- 			li
			//- 				a(href="") 經典設計
			//- 	li(data-aos-delay="300", data-aos="fade-in")
			//- 		a(href="") 國際項目
			//- 	li.dropdown(data-aos-delay="300", data-aos="fade-in")
			//- 		a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 關於藝耐
			//- 		ul.dropdown-menu(role='menu')
			//- 			li
			//- 				a(href="") 公司簡介
			//- 			li
			//- 				a(href="") 製造基地
			//- 			li
			//- 				a(href="") 媒體報導
			//- 			li
			//- 				a(href="") 生產理念
			//- 			li
			//- 				a(href="") 產品認證
			//- 	li.dropdown(data-aos-delay="300", data-aos="fade-in")
			//- 		a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 服務與支援
			//- 		ul.dropdown-menu(role='menu')
			//- 			li
			//- 				a(href="") 媒體中心
			//- 			li
			//- 				a(href="") 目錄與手冊
			//- 			li
			//- 				a(href="") 表單
			//- 			li
			//- 				a(href="") 活動
			//- 			li
			//- 				a(href="") 經銷商據點
			//- 			li
			//- 				a(href="") 聯絡我們
			//- 	li.dropdown(data-aos-delay="300", data-aos="fade-in")
			//- 		a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 會員專區
			//- 		ul.dropdown-menu(role='menu')
			//- 			li
			//- 				a(href="") 消費者
			//- 			li
			//- 				a(href="") 設計師
			//- 			li
			//- 				a(href="") 經銷商