- var url = '/images/'
nav.navbar
	.search.hidden-xs
		<form class="formBS" role="search" name="SearchMoForm" method="post" action="/bin/index.php?Plugin=mec&amp;Action=mobile_mecsearch/bin/index.php?Plugin=mec&amp;Action=mobile_mecsearch&amp;Lang=zh-tw">
			<div class="input-group">
				<input id="sch_key" name="SchKey" type="text" class="form-control" value="" placeholder="Search">
				<span class="input-group-btn">
					button.btn.svg(type="submit" style="background:url("+url+"search.svg); width: 11px; height: 11px;")
				</span>
			</div>
		</form>
	.user-profile.hidden-xs
		.lang
			span.svg(style="background:url("+url+"social-icon-1.svg); width: 20px; height: 20px;")
			a(href="") 中文
			a(href="") EN
		a.svg(href="" style="background:url("+url+"social-icon-2.svg); width: 20px; height: 20px;") 
		a.svg(href="" style="background:url("+url+"social-icon-3.svg); width: 20px; height: 20px;") 
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			// LOGO放置處
			a.navbar-brand.svg(href='/' style="background: url("+url+"logo.svg); width: 126px; height: 45px;")
		#navbar.navbar-collapse.collapse
			.user-profile.visible-xs
				.lang
					span.svg(style="background:url("+url+"social-icon-1.svg); width: 20px; height: 20px;")
					a(href="") 中文
					a(href="") EN
				a.svg(href="" style="background:url("+url+"social-icon-2.svg); width: 20px; height: 20px;") 
				a.svg(href="" style="background:url("+url+"social-icon-3.svg); width: 20px; height: 20px;") 
			ul.nav.navbar-nav
				li.dropdown(data-aos-delay="300", data-aos="fade-in")
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 商品介紹
					ul.dropdown-menu(role='menu')
						li
							a(href="") 浴室家具
						li
							a(href="") 馬桶/智能馬桶
						li
							a(href="") 面盆
						li
							a(href="") 龍頭
						li
							a(href="") 浴缸
						li
							a(href="") 淋浴系統
						li
							a(href="") 配件
				li.dropdown(data-aos-delay="300", data-aos="fade-in")
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 個案研究
					ul.dropdown-menu(role='menu')
						li
							a(href="") 酒店案例
						li
							a(href="") 住宅案例
						li
							a(href="") 公共空間
						li
							a(href="") 經典設計
				li(data-aos-delay="300", data-aos="fade-in")
					a(href="") 國際項目
				li.dropdown(data-aos-delay="300", data-aos="fade-in")
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 關於藝耐
					ul.dropdown-menu(role='menu')
						li
							a(href="") 公司簡介
						li
							a(href="") 製造基地
						li
							a(href="") 媒體報導
						li
							a(href="") 生產理念
						li
							a(href="") 產品認證
				li.dropdown(data-aos-delay="300", data-aos="fade-in")
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 服務與支援
					ul.dropdown-menu(role='menu')
						li
							a(href="") 媒體中心
						li
							a(href="") 目錄與手冊
						li
							a(href="") 表單
						li
							a(href="") 活動
						li
							a(href="") 經銷商據點
						li
							a(href="") 聯絡我們
				li.dropdown(data-aos-delay="300", data-aos="fade-in")
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 會員專區
					ul.dropdown-menu(role='menu')
						li
							a(href="") 消費者
						li
							a(href="") 設計師
						li
							a(href="") 經銷商
			.search
				<form class="formBS" role="search" name="SearchMoForm" method="post" action="/bin/index.php?Plugin=mec&amp;Action=mobile_mecsearch/bin/index.php?Plugin=mec&amp;Action=mobile_mecsearch&amp;Lang=zh-tw">
					<div class="input-group">
						<input id="sch_key" name="SchKey" type="text" class="form-control" value="" placeholder="Search">
						<span class="input-group-btn">
							button.btn.svg(type="submit" style="background:url("+url+"search.svg); width: 11px; height: 11px;")
						</span>
					</div>
				</form>