- var url = '/ezfiles/814/1814/img/864/'

.idx.container-fluid.section-1
  .content
    .row
      .col-sm-5.col-xs-12.img(data-aos="fade-right")
        span.svg(style="background:url("+url+"section-1-icon-1.svg); width: 162px; height: 164px;")
      .col-sm-7.col-xs-12.text
        .content
          h3.title(data-aos="fade-up") CAR-Technology
          ul
            li(data-aos="fade-up") 提高安全性 (加入Suicide switch)
            li(data-aos="fade-up") 增加細胞在體內的存活時間(Enhance cell persistence)
            li(data-aos="fade-up") 製程改良，降低CAR-T製造成本，加強與歐美產品之市場區化
          a.btn(style="background:url("+url+"section-1-more.svg); width: 58px; height: 25px;")
  .content
    .row
      .col-sm-5.col-xs-12.img(data-aos="fade-right")
        span.svg(style="background:url("+url+"section-1-icon-2.svg); width: 119px; height: 152px;")
      .col-sm-7.col-xs-12.text
        .content
          h3.title(data-aos="fade-up") 臨床進度
          ul
            li(data-aos="fade-up") 提高安全性 (加入Suicide switch)
            li(data-aos="fade-up") 增加細胞在體內的存活時間(Enhance cell persistence)
            li(data-aos="fade-up") 製程改良，降低CAR-T製造成本，加強與歐美產品之市場區化
          a.btn(style="background:url("+url+"section-1-more.svg); width: 58px; height: 25px;")
  .content
    .row
      .col-sm-5.col-xs-12.img(data-aos="fade-right")
        span.svg(style="background:url("+url+"section-1-icon-3.svg); width: 136px; height: 197px;")
      .col-sm-7.col-xs-12.text
        .content
          h3.title(data-aos="fade-up") 開發進程
          p(data-aos="fade-up") 其治療過程必須先從癌症病人身上分離免疫T細胞，並利用基因工
            br
            | 程技術給T細胞加入一個能識別腫瘤細胞元素，讓T細胞具有殺死
            br
            | 腫瘤細胞的嵌合抗體，這樣T細胞就變身為CAR-T細胞。最後藉由
            br
            | 體外培養，大量擴增CAR-T細胞，再注入至患者體內。
          a.btn(style="background:url("+url+"section-1-more.svg); width: 58px; height: 25px;")