- var url = '/ezfiles/912/1912/img/2680/'

.idx.container-fluid.section-1
  .row
    .col-xs-12
      .module-title
        h3 關於東居
        h4 ABOUT US
      p.text-center(data-aos="fade-up")
        | 東居股份有限公司作為集團之控股公司，秉持「新、速、實、簡」(創新、效率、實事求是、精簡)的企業精神，
        br
        | 持續且成功地實行及拓展各項領域計劃與開發。主要專注於國內外產業投資及專業服務與管理，
        br
        | 持續協助統合旗下各營運公司規畫及經營。