- var url = '/ezfiles/905/1905/img/2528/'

.idx.container-fluid.section-3
  .row
    .col-xs-12
      .module-title
        .line 
        span.svg(style="background:url("+url+"title-l.svg); width: 34px; height: 87px;") 
        span.text
          | 花葳快訊
          span.svg(style="background:url("+url+"section-3-title-en.svg); width: 64px; height: 20px;")
        span.svg(style="background:url("+url+"title-r.svg); width: 34px; height: 87px;") 
        .line 
  .row.info
    .col-sm-4.col-xs-12.img
      img.img-responsive.center-block(src=url + "section-3-img.png", alt="")
    .col-sm-8.col-xs-12.text
      span.svg(style="background:url("+url+"section-3-icon.svg); width: 107px; height: 161px;")
      .append-news