- var url = '/ezfiles/843/1843/img/1309/'

.idx.container-fluid.section-3
  .row
    .col-xs-12
      .module-title
        h4.title 產品介紹
        h4.sub-title PRODUCTS
  .row.list-content
    .col-sm-4.col-xs-12
      a(href="")
        img.img-responsive(src="/images/banner.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img.img-responsive(src="/images/banner.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img.img-responsive(src="/images/banner.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img.img-responsive(src="/images/banner.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img.img-responsive(src="/images/banner.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img.img-responsive(src="/images/banner.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img.img-responsive(src="/images/banner.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img.img-responsive(src="/images/banner.png", alt="")
    .col-sm-4.col-xs-12
      a(href="")
        img.img-responsive(src="/images/banner.png", alt="")