- var url = '/ezfiles/905/1905/img/2528/'

.idx.container-fluid.section-1
  .row
    .col-xs-12
      .module-title
        .line 
        span.svg(style="background:url("+url+"title-l.svg); width: 34px; height: 87px;") 
        span.svg.text(style="background:url("+url+"section-1-title.svg); width: 361px; height: 21px;")
        span.svg(style="background:url("+url+"title-r.svg); width: 34px; height: 87px;") 
        .line 
  .row.info
    .col-xs-12
      p.text-center
        | 花茶結合咖啡的創新意想，讓現今忙碌的社會大眾及喜愛咖啡的您，感受到濾掛咖啡更有趣的變化！
        br
        | 我們的創新顛覆您對咖啡、對花茶的既定印象及記憶味蕾，提供多款創意濾掛花咖啡，讓咖啡不再只是咖啡；花茶也不再只是花茶！
      p.text-center
        | 花葳 · 花咖啡秉持著勇於創新的思維與嚴謹的研究精神，用花茶融合咖啡的華麗演繹，敲
        br
        | 響您獨特的生活品味，讓花葳 · 花咖啡帶領您體驗全新的咖啡生活！
    .col-sm-4.col-xs-12
      .img
        img.img-responsive.center-block(src=url + "section-1-img-1.png", alt="")
    .col-sm-4.col-xs-12
      .img
        img.img-responsive.center-block(src=url + "section-1-img-2.png", alt="")
    .col-sm-4.col-xs-12
      .img
        img.img-responsive.center-block(src=url + "section-1-img-3.png", alt="")