- var url = '/ezfiles/912/1912/img/2680/'

.idx.container-fluid.section-2
  .row
    figure.col-xs-12
      img.img-responsive.center-block(src=url + "section-1-img-1.png", alt="" data-aos="fade-in")
      figcaption(data-aos="fade-up" data-aos-delay="100")
        b 產業投資動向
        | 依據國際趨勢及全球市場變動，彙整相關資訊及報導，檢視當前產業動向及擴展領域，探討最新議題與投資概況。
    figure.col-xs-12
      img.img-responsive.center-block(src=url + "section-1-img-2.png", alt="" data-aos="fade-in")
      figcaption(data-aos="fade-up" data-aos-delay="100")
        b 專業投資眼光
        | 針對各產業領域統籌及彙整，並依據市場趨勢規劃專業投資流程及建議，達成預期目標及營運計畫。
    figure.col-xs-12
      img.img-responsive.center-block(src=url + "section-1-img-3.png", alt="" data-aos="fade-in")
      figcaption(data-aos="fade-up" data-aos-delay="100")
        b 完善諮詢服務
        | 提供諮詢建議及服務，解決顧客問題，提升顧客滿意度。