- var url = '/ezfiles/843/1843/img/1309/'

.idx.container-fluid.section-1(style="background:url("+url+"section-1-bg.png);")
  .row
    .col-xs-12.module-title
      h4.title 作品集
      h4.sub-title Portfolio
  .row.owl
    .col-xs-12
      .owl-carousel(data-aos="fade-up")
        .item
          .row
            .col-sm-6.col-xs-12.img
              img.img-responsive(src=url + "section-1-img.png", alt="")
            .col-sm-6.col-xs-12.text.text-center
              p NAPPA全牛皮沙發打造現代簡約輕奢風
              p
                | 捨去繁複裝飾，以質材色澤帶出空間的現代簡約感
                br
                | 與業主多次開會討論沙發面材，從以色列旗艦款貓抓皮
                br
                | 1.46厚全牛皮、最後還是被NAPPA迷人的觸感跟光澤深深吸引
                br
                | NAPPA全牛皮天然光澤襯托整體沙發質感
              p.readmore.text-right
                a.btn(href="") READ MORE
                  span.svg(style="background:url("+url+"readmore.svg);")
        .item
          .row
            .col-sm-6.col-xs-12.img
              img.img-responsive(src=url + "section-1-img.png", alt="")
            .col-sm-6.col-xs-12.text.text-center
              p NAPPA全牛皮沙發打造現代簡約輕奢風
              p
                | 捨去繁複裝飾，以質材色澤帶出空間的現代簡約感
                br
                | 與業主多次開會討論沙發面材，從以色列旗艦款貓抓皮
                br
                | 1.46厚全牛皮、最後還是被NAPPA迷人的觸感跟光澤深深吸引
                br
                | NAPPA全牛皮天然光澤襯托整體沙發質感
              p.readmore.text-right
                a.btn(href="") READ MORE
                  span.svg(style="background:url("+url+"readmore.svg);")
        .item
          .row
            .col-sm-6.col-xs-12.img
              img.img-responsive(src=url + "section-1-img.png", alt="")
            .col-sm-6.col-xs-12.text.text-center
              p NAPPA全牛皮沙發打造現代簡約輕奢風
              p
                | 捨去繁複裝飾，以質材色澤帶出空間的現代簡約感
                br
                | 與業主多次開會討論沙發面材，從以色列旗艦款貓抓皮
                br
                | 1.46厚全牛皮、最後還是被NAPPA迷人的觸感跟光澤深深吸引
                br
                | NAPPA全牛皮天然光澤襯托整體沙發質感
              p.readmore.text-right
                a.btn(href="") READ MORE
                  span.svg(style="background:url("+url+"readmore.svg);")