- var url = 'images/'

.idx.container-fluid.section-1#section-1
  .row
    .col-xs-12
      .module-title
        h4 綠色環保概念
      p
        b 您的選擇，凰馳重視
      p 響應國際減碳、配合政府減廢，秉持「綠色環保概念」、「資源回收政策」對生態環境的重視及再投資塑膠的相關領域及環保防污的計劃，以創新為目標，品質價值創造永續經營的在地文化，我們秉持品質、技術、責任、道德及服務的經營理念，以環保為重，整合為工作效率、創新技術、品牌價值、客戶服務、品質穩定提供循環經濟、綠色能源、企業公司治理、社會責任等觀點永續經營。