- var url = '/ezfiles/777/1777/img/338/'

.idx.container-fluid.section-2
  .row
    .col-sm-8.col-xs-12.text
      .module-title
        .content
          h3 關於康元
          h4 ABOUT US
      p 康元興業有限公司專營醫療器材銷售，我們追求產品品質、準時達交、符合成本要求，期能在業界成為一個饒富特色的團隊，以持續提高整體開與拓展業務之品質，並進而在業界佔有一席之地。
      p 成立迄今，本公司秉持不斷追求卓越與創新的熱忱，與提供客戶無限的關懷為公司宗旨，持續不斷協助客戶，透過本公司優雅獨特的床體設計、製造與服務，讓居家照顧變的更簡單，經營創新突破，追求卓越，贏得客戶更廣大的信賴與支持！
      a.svg(href="" style="background:url("+url+"readmore.svg); width: 211px; height: 34px;") 
    .col-sm-4.col-xs-12.img
      .img-content
        img.img-responsive.center(src=url + "section-2-img.png", alt="")