- var url = '/images/'

.idx.container-fluid.section-1
  .row
    .col-sm-8.col-xs-12.info
      .module-title
        h4 關於歐普仕
        h5 ABOUT US
      p.text-center
        | 『創新卓越、持續改善、堅持品質、顧客滿意』
        br
        | 為求貫徹品質政策的精神，公司各部門應相互配合積極推展品質系統之運作，使各項程序整合落實，不斷開拓創新、追求卓越，提供讓顧客滿意之產品與服務，並持續改善，達成以上承諾。
      a.btn(href="") READ MORE
    .col-sm-4.col-xs-12.img
      .content
        img.img-responsive.center-block(src=url + "section-1-img.png", alt="")