- var url = '/ezfiles/905/1905/img/2528/'

.idx.container-fluid.section-2
  .row(style="background:url("+url+"section-2-img.png);")
    .col-xs-12
      .module-title
        .line 
        span.svg(style="background:url("+url+"title-white-l.svg); width: 34px; height: 87px;") 
        span.text 花葳傳情 LOVE
        span.svg(style="background:url("+url+"title-white-r.svg); width: 34px; height: 87px;") 
        .line 
      p.text-center
        | 每售出一包花葳濾掛花咖啡，花葳 · 花咖啡即替您捐出一元做愛心。
        br
        | 首加會員即可任選二款花葳濾掛花咖啡，免費試飲
      p.text-center.more-btn
        a.btn.svg(style="background:url("+url+"section-2-btn.svg); width: 128px; height: 25px;")
  .row.link-list
    .col-sm-3.col-xs-12
      .box
        p.tw 折扣優惠
        hr
        p.en Sale
        p.more
          a.btn(href="") LEARN MORE
    .col-sm-3.col-xs-12
      .box
        p.tw 新品上市
        hr
        p.en New
        p.more
          a.btn(href="") LEARN MORE
    .col-sm-3.col-xs-12
      .box
        p.tw 好評推薦 
        hr
        p.en Recommend
        p.more
          a.btn(href="") LEARN MORE
    .col-sm-3.col-xs-12
      .box
        p.tw 部落客推文 
        hr
        p.en KOL
        p.more
          a.btn(href="") LEARN MORE