- var url = '/ezfiles/909/1909/img/2654/'

.idx.container-fluid.section-3
  .row
    .col-sm-3.col-xs-6
      img.img-responsive(src=url + "section-3-icon-1.png", alt="")
      span.text 極致生活美學
    .col-sm-3.col-xs-6
      img.img-responsive(src=url + "section-3-icon-2.png", alt="")
      span.text 打造舒適環境
    .col-sm-3.col-xs-6
      img.img-responsive(src=url + "section-3-icon-3.png", alt="")
      span.text 優雅自然時光
    .col-sm-3.col-xs-6
      img.img-responsive(src=url + "section-3-icon-4.png", alt="")
      span.text 現代浴室專家