- var url = 'images/'

.idx.container-fluid.section-4#section-4
  .row
    .col-sm-3.col-xs-12
      .img
        img.img-responsive.center-block(src=url + "section-5-img-1.png", alt="")
      .text.text-center
        p 工業化學
        p 水玻璃、樹脂、甲基硫醇錫、硝酸 、防水劑 、防霉液
    .col-sm-3.col-xs-12
      .img
        img.img-responsive.center-block(src=url + "section-5-img-2.png", alt="")
      .text.text-center
        p 食品廠
        p 醋酸、食品原料、色素、氮胺酸  、紅酒  、食用磷酸、醬油、食用油            
    .col-sm-3.col-xs-12
      .img
        img.img-responsive.center-block(src=url + "section-5-img-3.png", alt="")
      .text.text-center
        p 醫藥廠
        p 藥用尿素、藥用酒精
    .col-sm-3.col-xs-12
      .img
        img.img-responsive.center-block(src=url + "section-5-img-4.png", alt="")
      .text.text-center
        p 其他運用
        p 洗髮精、甘油、潤滑油、 棕欖油 、農用灌溉水、農藥    