- var url = '/ezfiles/922/1922/img/3019/'

.idx.container-fluid.section-2
  .row
    .col-sm-6.col-xs-12.img
      img.img-responsive.center-block(src=url + "section-2-img.png", alt="")
    .col-sm-6.col-xs-12.text
      span.svg(style="background:url("+url+"section-2-title.svg); width: 368px; height: 95px;")
      p.text-center
        | Ksolite取名自橄欖石Chrysolite讀音，橄欖石又被稱為幸福之石，故以此為品牌名，寓意Ksolite的每一個商品都像寶石一樣耀眼，並能為擁有者帶來幸福。
        br
        | 品牌以獨特調香為基礎，搭配專業有效的保養配方，提供
        br
        | Affordable luxury的SPA級開架身體護理系列產品。
      a.svg.more(style="background:url("+url+"readmore.svg); width: 98px; height: 16px;")
