- var url = '/images/'

.idx.container-fluid.section-2
  .row
    .col-sm-6.col-xs-12
      p.img
        img.img-responsive.center-block(src= url + "section-2-img-1.png", alt="")
      .content
        p
          b 產品特色
          br
          | 耐酸鹼、抗腐蝕、耐衝擊、韌性佳、重量輕、易搬運、易堆疊
    .col-sm-6.col-xs-12
      p.img
        img.img-responsive.center-block(src= url + "section-2-img-2.png", alt="")
      .content
        p
          b 最佳選擇
          br
          | 高安全性、通過檢測、重複利用、品質保證、一體成型、清洗再生 、愛護地球       