- var url = '/ezfiles/920/1920/img/2994/'

.idx.container-fluid.section-2
  .row
    .col-xs-12
      .content
        .module-title
          h4 關於玄武棧
          h5 ABOUT US
        .info
          | 兩棲爬蟲寵物店、兩棲爬蟲寵物住宿、兩棲爬蟲寵物精品、兩棲爬蟲寵物服務
          br
          | 兩棲爬蟲寵物店、兩棲爬蟲寵物住宿、兩棲爬蟲寵物精品、兩棲爬蟲寵物服務
          br
          | 兩棲爬蟲寵物店、兩棲爬蟲寵物住宿、兩棲爬蟲寵物精品、兩棲爬蟲寵物服務
          br
          | 兩棲爬蟲寵物店、兩棲爬蟲寵物住宿、兩棲爬蟲寵物精品、兩棲爬蟲寵物服務
        p.more
          a.btn(href="") READ MORE