- var url = '/ezfiles/920/1920/img/2994/'

.idx.container-fluid.section-1
  .row
    .col-sm-4.col-xs-12
      a(href="")
        span.svg(style="background:url("+url+"section-1-img.png);")
    .col-sm-4.col-xs-12
      a(href="")
        span.svg(style="background:url("+url+"section-1-img.png);")
    .col-sm-4.col-xs-12
      a(href="")
        span.svg(style="background:url("+url+"section-1-img.png);")