- var url = '/ezfiles/922/1922/img/3019/'

.idx.container-fluid.section-4
  .row
    .col-xs-12
      .module-title
        .line 
        span.svg(style="background:url("+url+"title-l.svg); width: 34px; height: 87px;") 
        span.text
          | 聯絡花葳
          span.svg(style="background:url("+url+"section-4-title-en.svg); width: 129px; height: 20px;")
        span.svg(style="background:url("+url+"title-r.svg); width: 34px; height: 87px;") 
        .line 
  .row.info
    .col-xs-12
      img.img-responsive(src=url + "section-4-img.png", alt="")