- var url = '/ezfiles/922/1922/img/3019/'

.idx.container-fluid.section-1
  .row
    .col-xs-12
      .title
        span.svg(style="background:url("+url+"section-title.svg); width: 196px; height: 17px;")
    .col-xs-12
      .owl-carousel
        .item
          a(href="")
            img.img-responsive.center-block(src=url + "section-1-img-1.png", alt="")
            figcaption 保濕精粹護手霜
        .item
          a(href="")
            img.img-responsive.center-block(src=url + "section-1-img-2.png", alt="")
            figcaption 乾洗手潔淨露  