.module-detail.blog_detail
  .mcont
    @media screen and (min-width: 768px)
      display: flex
      justify-content: center
      flex-wrap: wrap
    .mcarousel
      display: none!important
    .figBS
      margin-bottom: 30px
      @media #{$mobile}
        margin-bottom: 15px
      img
        @media screen and (min-width: 768px)
          max-width: 840px
    .mpgdetail
      display: block
      float: left
      margin: 0 auto
      padding-left: 0
      padding-right: 0
      color: $color-b
      line-height: 30px
      @media screen and (min-width: 768px)
        width: 840px
        margin-left: auto
        margin-right: auto
        float: left

.module-detail.blog_detail
  .mpgtitle
    border: 0
    background: none
    position: relative
    h3
      padding-bottom: 0
      padding-top: 0
      padding: 0
  .module-misc
    .artctrl
      padding: 0
    .share-type
      padding: 0
      margin-top: 7.5px
    .share_btn
      display: none
    .shareto
      display: block!important
    a
      border: 0
      display: inline-block
      img
        $w: 25px
        width: $w
        height: $w

  .blog-prod-info
    .content
      margin-bottom: 15px
    p
      color: #666
      font-size: 14px
      line-height: 28px
      margin-bottom: 0
    h5
      color: $color-b
      margin-bottom: 0
      font-size: 18px
      font-weight: bold
      margin-bottom: 7.5px
      &::before
        content: ''
        display: inline-block
        $blow: 10.5px
        width: $blow
        height: $blow
        transform: rotate(-45deg)
        background: $color-yellow
        margin-right: 7.5px
        position: relative
        top: -1px

