.module-detail
  +max-width
  @media #{$pad-horizantal}
    padding: 0 30px
  @media #{$pad-vertical}
    padding: 0 30px
  @media #{$mobile}
    padding: 0 30px
  .mpgtitle
    background: none
    border-left: 5px solid $color-purple
    padding-left: 15px
    margin-bottom: 30px
    h3
      color: $color-purple
      padding-top: 0
      padding-bottom: 0
      padding: 0
  .row
    margin: 0 -15px
  .title-content
    margin-bottom: 15px
    @media #{$mobile}
      padding-left: 0
      padding-right: 0
    h4
      color: $color-purple
      font-size: 22px
      border-left: 5px solid $color-purple
      padding-left: 15px
      line-height: 30px
      display: none
      date
        float: right
        font-size: 14px
        color: #999
        @media #{$pad-vertical}
          float: left
          display: block
          width: 100%
        @media #{$mobile}
          float: left
          display: block
          width: 100%

  .img
    padding: 0 15px
    @media #{$mobile}
      margin-bottom: 30px
      padding-left: 0
      padding-right: 0
    @media #{$pad-vertical}
      margin-bottom: 30px

  .text
    padding: 0 15px
    @media #{$mobile}
      padding-left: 0
      padding-right: 0
    *
      color: $color-brown
    p
      font-size: 16px

  .blog-news
    .row
      margin-bottom: 60px
      @media #{$mobile}
        margin-bottom: 30px