.news-list
  +max-width
  margin-bottom: 30px
  @media #{$mobile}
    padding: 0 15px
  >.row
    background: $color-blue
    padding: 15px 30px
    border-bottom: 1px solid #ccc
    p
      margin-bottom: 0
      color: white
    .title-content
      display: inline-block
    .date-content
      display: inline-block
      float: right
  #insert_data
    .news-content
      display: none
    a
      display: block
      cursor: pointer
      padding: 15px 30px
      border-bottom: 1px solid #efefef
      position: relative
      +trans
      @media #{$mobile}
        padding-right: 0
        padding-left: 7.5px
      &:hover
        background: rgba($color-blue, .1)
    p
      margin-bottom: 0
    .title-content
      display: inline-block
      @media #{$mobile}
        padding-right: 100px
    .date-content
      display: inline-block
      float: right
      @media #{$mobile}
        position: absolute
        top: 15px
        right: 7.5px
      p
        font-size: 14px
        color: #666
        +trans