.module-detail
  +max-width
  @media #{$mobile}
    padding: 0 15px
  .mpgtitle
    background: none
    border: 0
    h3
      +title
      text-align: left
  p.link
    small
      display: block
      color: #aaa
    a
      border: 0
      color: #aaa