.page.milestone
  position: relative
  padding-bottom: 30px
  margin-bottom: 30px
  @media screen and (min-width: 768px)
    padding-top: 60px
  @media #{$mobile}
    padding-top: 30px
  .timeline-line
    width: 1px
    background: $color-blue
    position: absolute
    top: 0
    bottom: 0
    left: 15px
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)
    @media screen and (min-width: 768px)
      left: 50%
  >.timeline-bullet
    top: 0!important
    left: 15px!important
    @media screen and (min-width: 768px)
      left: 50%!important
  .timeline-bullet
    width: 7px
    height: 7px
    background: $color-blue
    top: 18px
  .timeline-bullet,
  .timeline-marker
    border-radius: 50%
    position: absolute
    left: 0px
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)
  .timeline-marker
    width: 15px
    height: 15px
    border: 1px solid $color-blue
    background: #fff
    &::after
      content: ""
      width: 15px
      height: 1px
      display: block
      background: $color-blue
      position: absolute
      top: 50%
      left: 100%
      -webkit-transform: translateY(-50%)
      transform: translateY(-50%)
      @media screen and (min-width: 768px)
        width: 30px
        right: 100%
        left: auto    
  .timeline-date
    font-size: 66px
    line-height: 42px
    line-height: 2.625rem
    margin-bottom: 0
    display: block
    color: $color-blue
    -webkit-transform: translateY(-20%)
    transform: translateY(-20%)
    @media screen and (min-width: 768px)
      width: 100%
      margin-left: -100%
      display: table
      float: left
      font-size: 66px
      font-weight: 400
      text-align: right
      -webkit-transform: translate(-90px,-35%)
      transform: translate(-90px,-35%)
  .timeline-event
    padding-top: 10px
    padding-bottom: 15px
    padding-left: 45px
    &.timeline-year
      margin-top: 30px
      margin-bottom: 30px
    p
      margin-bottom: 0
      font-size: 16px
      line-height: 28px
      color: $color-b
      font-weight: 400
      position: relative
      top: -5px
    date
      background: $color-blue
      color: white
      border-radius: 5px
      padding: 0 5px
      font-size: 12px
      margin-right: 7.5px
      display: inline-flex
      font-weight: 400
      line-height: 25px
    b
      color: $color-blue
    a
      border-color: $color-blue
      +trans
      &:hover
        color: $color-orange
  .row.reverse
    @media screen and (min-width: 768px)
      .timeline-date
        margin-left: 0
        text-align: left
        -webkit-transform: translate(0,-35%)
        transform: translate(0,-35%)
        position: absolute
        left: calc(100% + 45px)
      .timeline-marker
        left: 100%
        &::after
          left: 100%
          right: initial
      .col-sm-6:not(.col-sm-offset-6)
        padding-right: 45px
        p
          text-align: right
.certificate
  .col-sm-4
    @media screen and (min-width: 768px)
      padding: 0 15px
    @media #{$mobile}
      margin-bottom: 15px
    img
      width: 100%
      +trans
    a
      display: block
      overflow: hidden
      +box-shadow
      &:hover
        img
          transform: scale(1.1)
          opacity: 0.7