.page.contact
  .row.reverse
    display: flex
    flex-direction: row-reverse
    flex-wrap: nowrap
  .form
    // .form-group
      // @media screen and (min-width: 768px)
      //   width: 50%
    // .formBS
      // @media screen and (min-width: 768px)
      //   display: flex
      //   flex-wrap: wrap
    .form-group,
    .formBS,
    .col-sm-3,
    .col-sm-9
      border: 0!important
    .col-sm-3,
    .col-sm-9
      margin-bottom: 15px
    .col-sm-3
      white-space: nowrap
      font-size: 16px
    .required
      .col-sm-3
        &::before
          color: $color-red
    select
      font-size: 16px
      *
        font-size: 16px
  .info
    p
      font-size: 16px
      margin-bottom: 15px
      *
        font-size: 16px
        border: 0
      b
        font-size: 16px